@charset "utf-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	font-size: 12px;/* 変更 */
	font-family: 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;/* 変更 */
	line-height: 1.8;/* 変更 */
	-webkit-text-size-adjust: 100%;
}
article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section,main {
	display: block;
}
h1, h2, h3, h4, h5, h6, strong, th{
	font-weight: normal;
}
ol,ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	content: none;
}
a{
	margin: 0;
	padding: 0;
	font-size: 100%; vertical-align: baseline; background: transparent; text-decoration: none;
}
/*android版クローム　フォントサイズが大きくなる不具合対策*/
p {
	max-height: 999999px;
}
ins {
	background-color: #ff9;/* 変更 */
	color: #000;/* 変更 */
	text-decoration: none;
}
mark {
	background-color: #ff9;/* 変更 */
	color: #000;/* 変更 */
	font-style: italic;
	font-weight: bold;
}
del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}
img {
	vertical-align: bottom;
}
/* form */
input, select {
	vertical-align: middle;
}
/* float解除 */
header:after,footer:after,section:after,article:after,aside:after,main:after,div:after,dl:after,ul:after,ol:after,li:after {
		content : "";
		display : block;
		clear : both;
		height : 0;
}
/****************************************
 common (共通スタイル)
****************************************/
body {
	background: #000 url(../images/bg_body.png) 0 0 repeat;
	text-align: center;
}
.inner {
	width: 960px;
	margin: 0 auto;
}
a, a:hover{
	color: #ffffff;
}
/* 見出し */
.title{
	height: 30px;
	margin-bottom: 10px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
/* 小見出し */
.subtitle{
	padding-left: 10px;
	height: 30px;
  background: url(../images/bg_subtitle.png) 0 100% no-repeat;
  color: #ffffff;
	font-size: 16px;
	text-align: left;
}
h2{
	text-align: left;
	margin-bottom: 10px;
}
h3{
	margin-bottom: 10px;
}
#main_system h3{
	margin-bottom: 10px;
}
/* 文字色 */
.atten_01, .atten_01 a{
	color: #ff007e;
}
.atten_02, .atten_02 a{
	color: #ffff00;
}
.atten_03, .atten_03 a{
	color: #0000ff;
}
.atten_04, .atten_04 a{
	color: #ff0000;
}
/* マージン */
.mb_10{
	margin-bottom: 10px;
}
.mb_20{
	margin-bottom: 20px;
}
.mb_30{
	margin-bottom: 30px;
}
/* センタリング */
.center{
	text-align: center;
}
/* リンク画像 */
.link_act_01{
	opacity: 1;
	-webkit-transition: opacity 0.4s linear 0;
	-moz-transition: opacity 0.4s linear 0;
	transition: opacity 0.4s linear 0;
}
/* 画像装飾 */
.img_visual{
	border: black double 3px;
	padding: 2px;
	background-color: white;
	box-sizing: border-box;
}
.link_act_01:hover{
	opacity: 0.5;
}
/* テーブル 1 */
.table_01 {
	width: 100%;
	margin-bottom: 20px;
	border-left: 1px solid #999;
	border-top: 1px solid #999;
	border-spacing: 0;
	text-align: left;
}
.table_01 th, .table_01 td {
	padding: 5px 5px 5px 10px;
	border-color: #bbb #999 #999 #bbb;
	border-style: solid;
	border-width: 1px;
}
.table_01 th {
	background: linear-gradient(#ffffff, #aaaaaa);
	background: -webkit-linear-gradient(#ffffff, #aaaaaa);
	background: -moz-linear-gradient(#ffffff, #aaaaaa);
	vertical-align: middle;
}
.table_01 td {
	background: linear-gradient(#333, #222222);
	background: -webkit-linear-gradient(#333, #222222);
	background: -moz-linear-gradient(#333, #222222);
	color: #fff;
}
/* テーブル 2 */
.table_02 {
	width: 100%;
	border-left: 1px solid #999;
	border-top: 1px solid #999;
	border-spacing: 0;
	text-align: left;
}
.table_02 th, .table_02 td {
	padding: 5px 5px 5px 10px;
	border-color: #bbb #999 #999 #bbb;
	border-style: solid;
	border-width: 1px;
}
.table_02 th {
	background: linear-gradient(#ffffff, #aaaaaa);
	background: -webkit-linear-gradient(#ffffff, #aaaaaa);
	background: -moz-linear-gradient(#ffffff, #aaaaaa);
	vertical-align: top;
}
.table_02 td {
	background: linear-gradient(#333, #222222);
	background: -webkit-linear-gradient(#333, #222222);
	background: -moz-linear-gradient(#333, #222222);
	color: #fff;
	text-align: center;
}
/* テキストボックス 1 */
.txt_box_01{
	margin-bottom: 20px;
	color: #fff;
	text-align: left;
}
.txt_box_01 h2{
	margin-bottom: 10px;
	border-bottom: 1px dotted #eee;
	color: #ff007e;
	font-size: 16px;
}
/* テキストボックス 2 */
.txt_box_02{
	padding: 10px;
	text-align: left;
	color: #fff;
}
/* テキストボックス 3 */
.txt_box_03{
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid #fff;
	margin-bottom: 10px;
	color: #000000;
	text-align: left;
}
/* 女の子のボックス */
.cast_box li{
	width: 200px;
	position: relative;
}
.cast_box li .img_box {
	width: 200px;
	height: 300px;
	margin-bottom: 10px;
}
.cast_box li .img_box img{
	max-width: 200px;
	max-height: 300px;
}
.cast_box li .txt_box .time{
	color: #ffff00;
}
.cast_box li .txt_box .icon{
	height: 20px;
}
.cast_box li .txt_box .time{
/*	width: 100%;*/
	padding: 4px;
	border: 1px solid #333;
	background: url(../images/bg_contents_01.png) 0 0 repeat;
}
.cast_box li .frame{
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
}
.cast_box li .icon_ranking{
	position: absolute;
	top:200px;
	left: 100px;
}
/* 各ページ上部のテキストボックス */
.pagetext_box{
	height: 100px;
	margin-bottom: 20px;
	padding: 50px;
	background: url(../images/bg_pagetext_box.png) 0 0 repeat;
	color: #fff;
	text-align: left;
	line-height: 1.5em;
}
/* リンクボックス */
.list_link_box{
	margin-right: -30px;
	font-size: 10px;
}
.list_link_box li{
	float: left;
	margin: 0 30px 20px 0;
}
/*

ヘッダー

 */
header {
	width: 100%;
	padding-bottom: 10px;
	background: url(../images/bg_header.png) 50% -67px no-repeat;
}
header h1 {
	text-align: center;
	color: #ffffff;
}
/* ロゴ */
header .inner .logo {
	float: left;
}
/* 電話番号&営業時間 */
header .inner .info_box {
	text-align: left;
	float: right;
}
/* ヘッドライン */
header .headline {
  width: 960px;
  height: 30px;
  margin: 0 auto 10px auto;
  position: relative;
  background: url(../images/bg_headline.png) right top no-repeat;
  clear: both;
}

header .headline ul {
  margin: 0px;
  padding: 0px;
  position: absolute;
  left: 270px;
  top: 0;
}

header .headline ul li {
  width: 670px;
  height: 30px;
  line-height: 30px;
  text-align: left;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
}
/* グローバルナビ */
header nav ul li {
	float: left;
}
header nav ul li a {
	width: 160px;
	height: 50px;
	background: url(../images/gnav.png);
	display: block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
header nav ul li a#gnav_01 {background-position: 0 0;}
header nav ul li a#gnav_02 {background-position: -160px 0;}
header nav ul li a#gnav_03 {background-position: -320px 0;}
header nav ul li a#gnav_04 {background-position: -480px 0;}
header nav ul li a#gnav_05 {background-position: -640px 0;}
header nav ul li a#gnav_06 {background-position: -800px 0;}

header nav ul li a#gnav_01:hover{background-position: 0 -50px;}
header nav ul li a#gnav_02:hover{background-position: -160px -50px;}
header nav ul li a#gnav_03:hover{background-position: -320px -50px;}
header nav ul li a#gnav_04:hover{background-position: -480px -50px;}
header nav ul li a#gnav_05:hover{background-position: -640px -50px;}
header nav ul li a#gnav_06:hover{background-position: -800px -50px;}
/*

コンテンツ

*/
#contents {
	padding-bottom: 50px;
}
main {
	width: 690px;
	float: right;
}
/* サイドバー */
#sidebar {
	width: 250px;
	float: left;
}
/* カバーガール */
#section_covergirl h2 {
	background: url(../images/title_covergirl.png) 0 0 no-repeat;
	margin-bottom: 10px;
}
#section_covergirl ul {
	width: 200px;
	height: 400px;
	margin: 0 auto;
}
/* 新人情報 */
#section_newface{
	margin-bottom: 20px;
}
#section_newface h2 {
	background: url(../images/title_newface.png) 0 0 no-repeat;
}
#section_newface ul {
	height: 800px;
	overflow-y: auto;
}
#section_newface ul li {
	margin: 0 auto 20px auto;
}

/* 新人情報 ver02　*/
#section_newface02 {
  margin-bottom: 10px;
}

#section_newface02 h2 {
  background: url(../images/title_newface.png) 0 0 no-repeat;
}

#section_newface02 ul{
	height: 310px;
	overflow-y: auto;
}

#section_newface02 ul li{
	padding: 10px 5px;
	overflow-y: auto;
	border-bottom: 1px dotted #fff;
	/*	background:#1b1b1b;*/
}
#section_newface02 ul li:last-child{
	border-bottom: none;
}

#section_newface02 ul li div{
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;
}

#section_newface02 ul li div:last-child {
  width: 120px;
  overflow: hidden;
}

#section_newface02 ul li div:last-child img {
	width: 40px;
  vertical-align: middle;
}

#section_newface02 ul li div p {
  font-size: 10px;
  text-align: left;
}
/*以下のサイズはサイトに合わせてください*/
#section_newface02 ul li div p.img_box{
	width: 90px;
	height: 135px;
	margin-bottom: 10px;
	text-align: center;
}

/*以下のサイズはサイトに合わせてください*/
#section_newface02 ul li div p.img_box img{
	max-width: 90px;
	max-height: 135px;
}
#section_newface02 ul li div p.textCut {
  height: 70px;
  overflow: hidden;
  word-wrap: break-word;
}

#section_newface02 ul li div p.time {
  font-size: 12px;
  color: #e8d773;
  border-bottom: 1px dotted #e8d773;
}

#section_newface02 ul li div:first-child{
  position: relative;
}

#section_newface02 ul li div:first-child span.frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

/*

フッター

*/
footer {
	background: url(../images/bg_footer.png) 0 0 repeat-x;
	font-size: 10px;
}
footer .inner {
	color: #ffffff;
}
/* テキストメニュー */
footer .inner .nav{
	margin: 0 auto;
	padding: 10px 0;
	display: table;
}
footer .inner .nav li {
	display: table-cell;
	color: #ffffff;
}
footer .inner .nav li a {
	color: #ffffff;
}
footer .inner .nav li:after {
	content: "　|　";
	display: inline;
	margin: 0 3px;
}
footer .inner .nav li:last-child:after {
	display: none;
}
/* 電話番号&営業時間 */
footer .inner .info_box {
	margin: 0 auto;
	display: table;
}
footer .inner .info_box li {
	display: table-cell;
}
.footer_txt{
	margin: 10px;
	color: #fff;
}
/******************************
認証ページ
******************************/
#entry_body{
	background: transparent;
	background-color: #000;
}
#entry_body header{
	background: transparent;
}
#entry_body #contents{
	padding-top: 40px;
	background: url(../images/bg_entry_box.png) 0 0 no-repeat;
}
#entry_body #contents .logo{
	margin-bottom: 120px;
}
#entry_body #contents .info_box{
	width: 100%;
	margin-bottom: 70px;
	display: table;
}
#entry_body #contents .info_box li{
	display: table-cell;
}
#entry_body #contents .btn_box{
	width: 100%;
	margin-bottom: 20px;
	display: table;
}
#entry_body #contents .btn_box li{
	display: table-cell;
}
/******************************
トップページ
******************************/
/* メインビジュアル */
#mainvisual{
	width: 100%;
	height: 300px;
	margin-bottom: 10px;
}
/* 動画 */
#section_movie .title {
	background: url(../images/title_movie.png) 0 0 no-repeat;
}
#section_movie{
	margin-bottom: 20px;
}
/* イベント */
#section_event{
	margin-bottom: 20px;
}
#section_event .title {
	background: url(../images/title_event.png) 0 0 no-repeat;
}
/* 新着情報 */
#section_topics .title {
	background: url(../images/title_topics.png) 0 0 no-repeat;
}
#section_topics{
	margin-bottom: 20px;
}
#section_topics #info_box {
	height: 300px;
	padding: 10px;
	background: url(../images/bg_contents_01.png) 0 0 repeat;
	color: #ffffff;
	overflow-y: auto;
}
#section_topics #info_box article{
	margin-bottom: 30px;
	text-align: left;
}
#section_topics #info_box article h3{
	text-align: center;
	font-size: 18px;
	color: #ffff00;
}
#section_topics #info_box article p img{
	max-width: 100%;
}
#section_topics #info_box strong {
	font-weight: bold;
}

/* ランキング */
#section_ranking_01, #section_ranking_02{
	margin-bottom: 20px;
}
#section_ranking_01 .title {
	background: url(../images/title_ranking.png) 0 0 no-repeat;
}
#section_ranking_02 .title {
	background: url(../images/title_ranking.png) 0 0 no-repeat;
}
#section_ranking_01 .cast_box{
}
#section_ranking_01 .cast_box li, #section_ranking_02 .cast_box li {
	margin: 0 45px 30px 0;
	float: left;
}
#section_ranking_01 .cast_box a:last-child li, #section_ranking_02 .cast_box a:last-child li {
	margin-right: 0;
	float: left;
}
/* 本日の出勤情報　*/
#section_schedule_today{
	margin-bottom: 20px;
}

#section_schedule_today .title {
	background: url(../images/title_scheduletoday.png) 0 0 no-repeat;
}
#section_schedule_today .cast_box {
	overflow-y: auto;
	max-height: 430px;/*サイトに合わせてください*/
}
#section_schedule_today .cast_box li {
	margin: 0 25px 30px 0;
	float: left;
}
/* 本日の出勤情報 ver02*/
#section_schedule_today_02{
	margin-bottom: 20px;
	margin-left: 5px;
	font-size: 11px;
}

#section_schedule_today_02 .title {
	background: url(../images/title_scheduletoday.png) 0 0 no-repeat;
}
#section_schedule_today_02 .cast_box {
	overflow-y: auto;
	max-height: 430px;/*サイトに合わせてください*/
}
#section_schedule_today_02 .cast_box li {
	width: 150px;
	margin: 0 20px 30px 0;
	float: left;
}
#section_schedule_today_02 .cast_box li .img_box{
	width: 150px;
	height: 225px;
}
#section_schedule_today_02 .cast_box li .img_box img{
	max-width: 150px;
	max-height: 225px;
}
#section_schedule_today_02 .cast_box li:nth-of-type(4n) {
	margin-right: 0;
}
/* 本日の出勤情報 ver03*/
#section_schedule_today_03 .title {
  background: url(../images/title_scheduletoday.png) 0 0 no-repeat;
}

#section_schedule_today_03 ul {
  margin: auto;
  overflow-y: auto;
  max-height: 400px;/*サイトに合わせてください*/
}

#section_schedule_today_03 li {
  width: 225px;
  margin-bottom: 10px;
  float: left;
}
#section_schedule_today_03 li .img_box{
	width: 80px;
	height: 120px;
}
#section_schedule_today_03 li .img_box img{
	max-width: 80px;
	max-height: 120px;
	margin: auto;
	display: block;
}
#section_schedule_today_03 li div {
  display: inline-block;
  vertical-align: top;
}
#section_schedule_today_03 li div:first-child{
	width: 80px;
}
#section_schedule_today_03 li div:last-child{
	width: 130px;
	margin-left: 5px;
}

#section_schedule_today_03 li div {
  position: relative;
}

#section_schedule_today_03 li div span.frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#section_schedule_today_03 li div p.name img {
	width: 30px;
}

#section_schedule_today_03 li div p {
  font-size: 11px;
  text-align: left;
}

#section_schedule_today_03 li div p img {
  vertical-align: middle;
}

#section_schedule_today_03 li div p.name {
  width: 130px;
  height: 20px;
  font-size: 10px;
  overflow: hidden;
}

#section_schedule_today_03 li div p.icon {
  width: 130px;
}

#section_schedule_today_03 li div p.icon img {
  margin: 5px 0;
}
/****************************************
女の子一覧ページ & スケジュールページ
****************************************/
#contents_cast .title{
	background: url(../images/title_cast.png) 0 0 no-repeat;
}
#contents_schedule .title{
	background: url(../images/title_schedule.png) 0 0 no-repeat;
}
/* テキストメニュー */
#contents_schedule .schedule_nav{
	margin: 0 auto 20px auto;
	padding: 10px 0;
	display: table;
	font-size: 10px;
}
#contents_schedule .schedule_nav li{
	display: table-cell;
}
#contents_schedule .schedule_nav li a {
	padding: 10px;
	border: 1px solid #aaa;
	background: linear-gradient(#333, #222222);
	background: -webkit-linear-gradient(#333, #222222);
	background: -moz-linear-gradient(#333, #222222);
	color: #ffffff;
}
#contents_schedule .schedule_nav li a:hover {
	border: 1px solid #444;
	background: linear-gradient(#ffffff, #aaaaaa);
	background: -webkit-linear-gradient(#ffffff, #aaaaaa);
	background: -moz-linear-gradient(#ffffff, #aaaaaa);
	vertical-align: top;
	color: #000000;
}
/* 女の子のボックス */
#contents_cast .cast_box li, #contents_schedule .cast_box li {
	margin: 0 45px 30px 0;
	float: left;
}
#contents_cast .cast_box li:nth-of-type(3n), #contents_schedule .cast_box li:nth-of-type(3n){
	margin-right: 0;
}
/****************************************
女の子一覧ページ & スケジュールページ ver02
****************************************/
#contents_cast_02 ul, #contents_schedule_02 ul {
	margin-left: 15px;
	font-size: 11px;
}

#contents_cast_02 .title{
	background: url(../images/title_cast.png) 0 0 no-repeat;
}
#contents_schedule_02 .title{
	background: url(../images/title_schedule.png) 0 0 no-repeat;
}
/* テキストメニュー */
#contents_schedule_02 .schedule_nav{
	margin: 0 auto 20px auto;
	padding: 10px 0;
	display: table;
	font-size: 10px;
}
#contents_schedule_02 .schedule_nav li{
	display: table-cell;
}
#contents_schedule_02 .schedule_nav li a {
	padding: 10px;
	border: 1px solid #aaa;
	background: linear-gradient(#333, #222222);
	background: -webkit-linear-gradient(#333, #222222);
	background: -moz-linear-gradient(#333, #222222);
	color: #ffffff;
}
#contents_schedule_02 .schedule_nav li a:hover {
	border: 1px solid #444;
	background: linear-gradient(#ffffff, #aaaaaa);
	background: -webkit-linear-gradient(#ffffff, #aaaaaa);
	background: -moz-linear-gradient(#ffffff, #aaaaaa);
	vertical-align: top;
	color: #000000;
}
/* 女の子のボックス */
#contents_cast_02 .cast_box li, #contents_schedule_02 .cast_box li {
	width: 150px;
	margin: 0 20px 30px 0;
	float: left;
}
/*以下のサイズはサイトに合わせてください*/
#contents_cast_02 .cast_box li .img_box,
#contents_schedule_02 .cast_box li .img_box{
	width: 150px;
	height: 225px;
	margin-bottom: 10px;
}
/*以下のサイズはサイトに合わせてください*/
#contents_cast_02 .cast_box li .img_box > img,
#contents_schedule_02 .cast_box li .img_box > img{
	max-width: 150px;
	max-height: 225px;
}
#contents_cast_02 .cast_box li:nth-of-type(4n), #contents_schedule_02 .cast_box li:nth-of-type(4n) {
	margin-right: 0;
}
/****************************************
週間スケジュールページ
****************************************/
#contents_schedule .schedule_box{
	text-align: left;
}
.schedule_box .img_box{
	width: 60px;
	height: 90px;
	margin-bottom: 10px;
}
/*以下のサイズはサイトに合わせてください*/
.schedule_box .img_box img{
	max-width: 60px;
	max-height: 90px;
}
#contents_schedule .schedule_box li{
	padding: 10px;
	background: linear-gradient(#ffffff, #aaaaaa);
	background: -webkit-linear-gradient(#ffffff, #aaaaaa);
	background: -moz-linear-gradient(#ffffff, #aaaaaa);
	border: 1px solid #fff;
	margin-bottom: 10px;
	color: #000000;
}
#contents_schedule .schedule_box .img_box{
	float: left;
}
#contents_schedule .schedule_box .name{
	width: 90%;
	float: right;
}
#contents_schedule .schedule_box table{
	width: 90%;
	height: 70px;
	float: right;
	font-size: 10px;
	text-align: center;
}
/****************************************
ランキングページ
****************************************/
#section_ranking_01 .title{
	background: url(../images/title_ranking.png) 0 0 no-repeat;
}
#section_ranking_01 .cast_box li {
	margin: 0 45px 30px 0;
	float: left;
}
#section_ranking_01 .cast_box li:nth-of-type(3n) {
	margin-right: 0;
}

#section_ranking_02 .title{
	background: url(../images/title_ranking.png) 0 0 no-repeat;
}
#section_ranking_02 .cast_box li {
	margin: 0 45px 30px 0;
	float: left;
}
#section_ranking_02 .cast_box li:nth-of-type(3n) {
	margin-right: 0;
}
/****************************************
プロフィールページ
****************************************/
#contents_profile .title{
	background: url(../images/title_profile.png) 0 0 no-repeat;
}
#contents_profile .profile_box_right{
	width: 340px;
	float: right;
}
#contents_profile .profile_box_left{
	width: 330px;
	float: left;
}
#contents_profile .profile_box_left .img_box{
	width: 300px;
	height: 400px;
	margin-bottom: 20px;
	position: relative;
}
#contents_profile .profile_box_left .img_box img{
	max-width: 300px;
	max-height: 400px;
}
#contents_profile .profile_box_left .img_box .frame{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
#contents_profile .profile_box_schedule{
	clear: both;
}
#contents_profile .profile_option_box p{
	width: 33.33%;
	padding: 5px;
	border: 1px solid #ddd;
	box-sizing: border-box;
	float: left;
	text-align: center;
	font-size: 10px;
}
#contents_profile .profile_option_box .can{
	background: #ff007e;
}
#contents_profile .profile_option_box .normal{
	background: #fca3cf;
}
#contents_profile .profile_option_box .cant{
	background: #333333;
	color: #ffffff;
}
/*
プロフィールページ 感想
*/
.impressions_box ul.impressions_inner{
	width: 100%;
	margin: auto;
}
.impressions_box ul.impressions_inner li.impressions_list{
	width: 100%;
	border: 3px solid #eee;
	margin-right: 1%;
	margin-bottom: 1%;
	float: left;
	box-sizing:border-box;
	background: #fff;
}
.impressions_box ul.impressions_inner li.impressions_list:nth-child(2n){
	margin-right: 0;
}
.impressions_box ul.record{
	width: 100%;
	margin: auto;
	background: #888;
}
.impressions_box ul.record li{
	width: 38%;
	display: inline-block;
	color: #fff;
	line-height: 30px;
	text-align: left;
	margin: auto;
}
.impressions_box ul.evaluation{
	padding: 10px 0;
}
.impressions_box ul.evaluation li{
	width: 24%;
	display: inline-block;
	color: #000;
}
.impressions_box div.txt{
	height: 150px;
	padding: 0  10px 10px 10px;
	text-align: left;
	word-wrap:break-word;
	overflow: hidden;
	box-sizing: border-box;
}
.impressions_box div.txt .fa-lg{
	line-height: auto;
}
.impressions_box div.txt span{
	display: block;
	font-weight: bold;
	color: #d31563;
	text-align: center;
}
/****************************************
システムページ
****************************************/
#contents_system .title{
	background: url(../images/title_system.png) 0 0 no-repeat;
}
/****************************************
コンセプトページ
****************************************/
#contents_concept .title{
	background: url(../images/title_concept.png) 0 0 no-repeat;
}
#contents_concept .list_box{
	margin-bottom: 20px;
	text-align: left;
}
#contents_concept .list_box li{
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #fff;
	background-color: rgba(255, 255, 255, 0.8);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#50ffffff,endColorstr=#50ffffff);
}
#contents_concept .list_box li p{
	padding: 0 10px;
}
#contents_concept .list_box li p:first-child{
	margin-bottom: 10px;
	padding: 0;
	border-bottom: 1px dotted #eee;
	color: #ff007e;
}
/****************************************
Q&Aページ
****************************************/
#contents_qa .title{
	background: url(../images/title_qa.png) 0 0 no-repeat;
}
#contents_qa .list_box li{
	height: 210px;
	margin-bottom: 20px;
	padding: 20px 30px;
	background: url(../images/bg_qa.png) 0 0 no-repeat;
	text-align: left;
	color: #fff;
}
#contents_qa .list_box li h3{
	margin-bottom: 40px;
	font-size: 18px;
}
#contents_qa .list_box li h3 span{
	font-size: 28px;
	color: #ffff00;
}
#contents_qa .list_box li p span{
	font-size: 20px;
	color: #ffff00;
}
/****************************************
ご利用方法ページ
****************************************/
#contents_info .title{
	background: url(../images/title_info.png) 0 0 no-repeat;
}
#contents_info .list_box li{
	height: 210px;
	margin-bottom: 20px;
	padding: 20px 30px;
	background: url(../images/bg_info.png) 0 0 no-repeat;
	text-align: left;
	color: #fff;
}
#contents_info .list_box li h3{
	margin-bottom: 40px;
	font-size: 18px;
}
#contents_info .list_box li h3 span{
	font-size: 28px;
	color: #ff007e;
}
/****************************************
プレイ内容ページ
****************************************/
#contents_play .title{
	background: url(../images/title_play.png) 0 0 no-repeat;
}
/****************************************
求人情報ページ
****************************************/
#contents_recruit .title{
	background: url(../images/title_recruit.png) 0 0 no-repeat;
}
/****************************************
お問合せページ
****************************************/
#contents_contact .title{
	background: url(../images/title_contact.png) 0 0 no-repeat;
}
/****************************************
WEB予約ページ
****************************************/
#contents_reserve .title{
	background: url(../images/title_reserve.png) 0 0 no-repeat;
}
/****************************************
アンケートページ
****************************************/
#contents_enquete .title{
	background: url(../images/title_enquete.png) 0 0 no-repeat;
}
/****************************************
アクセスページ
****************************************/
#contents_access .title{
	background: url(../images/title_access.png) 0 0 no-repeat;
}
#contents_access .list_box li{
	width: 315px;
	margin: 0 20px 20px 0;
	padding: 9px;
	border: 1px solid #fff;
	background-color: rgba(255, 255, 255, 0.8);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#50ffffff,endColorstr=#50ffffff);
	float: left;
	text-align: left;
}
#contents_access .list_box li:nth-of-type(2n){
	margin-right: 0;
}
/****************************************
ホテルページ
****************************************/
#contents_hotel .title{
	background: url(../images/title_hotel.png) 0 0 no-repeat;
}
#contents_hotel #list_tab_01, #contents_hotel #list_tab_02{
	width: 100%;
	margin-bottom: 20px;
}
#contents_hotel #list_tab_01 li, #contents_hotel #list_tab_02 li{
	margin: 5px;
	float: left;
}
/****************************************
体験漫画ページ
****************************************/
#contents_manga .title{
	background: url(../images/title_manga.png) 0 0 no-repeat;
}
/****************************************
リンクページ
****************************************/
#contents_link .title{
	background: url(../images/title_link.png) 0 0 no-repeat;
}
/****************************************
感想投票ページ
****************************************/
#contents_impressins .title{
	background: url(../images/title_impressions.png) 0 0 no-repeat;
}
/****************************************
イベントページ
****************************************/
#contents_event .title{
	background: url(../images/title_event.png) 0 0 no-repeat;
}
/****************************************
メールマガジンページ
****************************************/
#contents_mailmagazine .title{
	background: url(../images/title_mailmagazine.png) 0 0 no-repeat;
}
#contents_mailmagazine .pagetext_box{
	height: 170px;
	padding: 130px 40px 0 170px;
	background: url(../images/bg_mailmagazine_box.png) 0 0 no-repeat;
	text-align: left;
	color: #fff;
}
/****************************************
クレジットページ
****************************************/
#contents_card .title{
	background: url(../images/title_card.png) 0 0 no-repeat;
}
#contents_card .list_box{
	margin-bottom: 20px;
	text-align: left;
}
#contents_card .list_box li{
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #fff;
	background-color: rgba(255, 255, 255, 0.8);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#50ffffff,endColorstr=#50ffffff);
}
#contents_card .list_box li p{
	padding: 0 10px;
}
#contents_card .list_box li p:first-child{
	margin-bottom: 10px;
	padding: 0;
	border-bottom: 1px dotted #eee;
	color: #ff007e;
}

/****************************************
errページ
****************************************/
#section_err {
	margin: 0 auto;
	color: #242424;
	font-size: 15px;
	line-height: 1.3;
	text-align: left;
	padding: 70px 43px;
	border: 1px solid #B6B6B6;
	background-image: none;
	background-color: #ffffff;
}
#section_err #err_title {
	font-size: 56px;
	font-weight: bold;
	line-height: 1.4;
	padding: 0;
	margin: 0;
}
#section_err #err_subtitle {
	font-size: 26px;
	font-weight: bold;
	margin: 0 0 40px 0;
}
#section_err #err_toplink a {
	position: relative;
	color: #E72D34;
	text-decoration: underline;
}
#section_err #err_toplink a:after {
	content: "";
	position: absolute;
	top: 50%;
	right: -25px;
	margin: -8px 0 0 0;
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-left: 7px solid #E72D34;
}

/* テンプレート切り替えスイッチ */
#tmp_sw {
	width: 230px;
	margin-bottom: 10px;
	padding: 5px 15px;
	border-radius: 0 0 2px 2px;
	background: rgba(255, 255, 255, 0.6);
	color: #000;
	font-weight: bold;
	float: right;
}
#tmp_sw p {
	float: left;
}
#tmp_sw select {
	float: left;
}
