<!--{extends file="../common/frame.html"}-->
<!--{block name="main"}-->

		<section id="contents_enquete">
			<h2 class="title"><!--{$page.name}--></h2>
			<p class="txt_box_01">
			<!--{if $csrf == true}-->
				<!--{if $result == true}-->
					アンケートの送信が完了しました。
				<!--{else}-->
					メールの送信に失敗しました。
				<!--{/if}-->
			<!--{else}-->
				不正な送信が行われました為送信を中止しました。
			<!--{/if}-->
			</p>
			<input type="button" onclick="location.href='<!--{$smarty.const.ROOT_URL}-->/enquete.php'"value="アンケートトップ" class="btn_one_02">
		</section>
<!--{/block}-->
