<!--{extends file="../common/frame.html"}-->
<!--{block name="main"}-->

		<section id="contents_enquete">
			<h2 class="title"><!--{$page.name}--></h2>
			<p class="pagetext_box">
        当店は『あなたを癒す心からの施述』がコンセプトの、完全予約制プライベートサロンです。<br>
        JR五反田駅西口より徒歩4分のオフィスストリートにて、厳選されたセラピストによる心からのおもてなしと至福のひとときをご提供いたします。<br>
        完全個室の癒しの空間で、セラピストの笑顔を心ゆくまでお楽しみください。<br>
        <br>
        ご来店の際は、JR五反田駅西口右手、国通沿いのコンビニ付近よりお電話ください。皆さまのご来店をスタッフ一同、心よりお待ちしております。<br><br>
				<span class="atten_01">※</span>は必須項目です。
			</p>
			<form method="post" action="?mode=confirm">
      <table class="table_01 text_box">
          <tr>
              <th width="30%">お名前&nbsp;<span class="atten_01">※</span></th>
              <td>
              	<input type="text" name="name" size="30">
              </td>
          </tr>
          <tr>
              <th width="20%">メールアドレス&nbsp;<span class="atten_01">※</span></th>
              <td>
              	<input type="email" name="mail" size="30">
              </td>
          </tr>
          <tr>
              <th width="20%">電話番号&nbsp;<span class="atten_01">※</span></th>
              <td>
              	<input type="text" name="tel" size="30">
              </td>
          </tr>
          <tr>
              <th width="20%">当店のご利用回数&nbsp;<span class="atten_01">※</span></th>
              <td>
              	<!--{html_options name='count' options=$form.enquete.count}-->
              </td>
          </tr>
          <tr>
              <th width="20%">ご利用日&nbsp;<span class="atten_01">※</span></th>
              <td>
							<!--{html_options name='month' options=$form.enquete.month}-->
							<!--{html_options name='day' options=$form.enquete.day}-->
              </td>
          </tr>
          <tr>
              <th width="20%">当店を初めにお知りになられたキッカケは？</th>
              <td>
							<label><input type="radio" name="chance"value="ネット検索" />ネット検索</label><br>
							※検索エンジン名&nbsp;<input type="text" name="chance_site" size="30" /><br>
							<label><input type="radio"  name="chance"value="雑誌の広告" />雑誌の広告</label><br>
							※雑誌名&nbsp;<input type="text"  name="chance_zassi" size="30" /><br>
							<label><input type="radio"  name="chance" value="ネット" />ネット</label>
							<label><input type="radio" name="chance" value="知人の紹介" />知人の紹介</label>
							<label><input type="radio"  name="chance" value="その他" />その他</label>
              </td>
          </tr>
          <tr>
              <th width="20%">受付スタッフの電話応対はいかがでしたか？</th>
              <td>
              	<!--{html_radios name='front' options=$form.enquete.value}-->
              </td>
          </tr>
          <tr>
              <th width="20%">担当させて頂きました<!--{$smarty.const.STAFF_CALL}-->の名前は？&nbsp;<span class="atten_01">※</span></th>
              <td>
              	<input type="text" name="staff">
              </td>
          </tr>
          <tr>
              <th width="20%"マッサージの技術に関しましてのご感想は？></th>
              <td>
              	<!--{html_radios name='massage' options=$form.enquete.value}-->
              </td>
          </tr>
          <tr>
              <th width="20%">回春(性感)の技術に関しまして今回のご感想は？</th>
              <td>
              	<!--{html_radios name='seikan' options=$form.enquete.value}-->
              </td>
          </tr>
          <tr>
              <th width="20%"><!--{$smarty.const.STAFF_CALL}-->の接客マナー等を含めて今回のご感想は？</th>
              <td>
              	<!--{html_radios name='manner' options=$form.enquete.value}-->
              </td>
          </tr>
          <tr>
              <th width="20%">次回また指名したいと思いますか？</th>
              <td>
              	<!--{html_radios name='next' options=$form.enquete.next}-->
              </td>
          </tr>
          <tr>
              <th width="20%"><!--{$smarty.const.STAFF_CALL}-->や施術内容に関してご意見、ご要望、お気づきの点など御座いましたら、些細な点でも構いませんのでお願いいたします。</th>
              <td>
              	<textarea name="detail1" cols="80" rows="10"></textarea>
              </td>
          </tr>
          <tr>
              <th width="20%"><!--{$smarty.const.STAFF_CALL}-->に点数をつけると、１００点満点で何点ですか？ (100点満点中80点を合格ラインとして)</th>
              <td>
              	<input type="text" name="staff_point" size="30">点
              </td>
          </tr>
          <tr>
              <th width="20%">当店のご満足度は１００点満点で何点ですか？ (100点満点中80点を合格ラインとして)</th>
              <td>
              	<input type="text" name="shop_point" size="30">点
              </td>
          </tr>
          <tr>
              <th width="20%">当店に特に求めるものはなんですか？ 複数回答可</th>
              <td>
              	<!--{html_checkboxes name='wish' options=$form.enquete.wish}--><br>
								<textarea name="detail2" cols="80" rows="10"></textarea>
              </td>
          </tr>
          <tr>
              <th width="20%"><!--{$smarty.const.STAFF_CALL}-->へのメッセージ等ございましたらご記入お願い致します。</th>
              <td>
              	<textarea name="detail3" cols="80" rows="10"></textarea>
              </td>
          </tr>
      </table>
			<input type="submit" name="confirm" value="確認">
			<input type="reset" name="reset" value="リセット">
    	</form>
		</section>

<!--{/block}-->
