<!--{extends file="../common/frame.html"}-->
<!--{block name="main"}-->

		<section id="contents_entry">
			<form method="post" action="?mode=finish">
      <table class="table_01 text_box">
          <tr>
              <th width="30%">お名前&nbsp;<span class="atten_01">※</span></th>
              <td>
              	<!--{if $error.name != ''}--><span class="atten_01"><!--{$error.name}--></span><!--{else}--><!--{$posts.name}--><!--{/if}-->
              </td>
          </tr>
          <tr>
              <th width="20%">メールアドレス&nbsp;<span class="atten_01">※</span></th>
              <td>
              	<!--{if $error.mail != ''}--><span class="atten_01"><!--{$error.mail}--></span><!--{else}--><!--{$posts.mail}--><!--{/if}-->
              </td>
          </tr>
          <tr>
              <th width="20%">電話番号</th>
              <td><!--{$posts.tel}--></td>
          </tr>
          <tr>
              <th width="20%">年齢&nbsp;<span class="atten_01">※</span></th>
              <td>
                <!--{if $error.age != ''}--><span class="atten_01"><!--{$error.age}--></span><!--{else}--><!--{$posts.age}--><!--{/if}-->
              </td>
          </tr>
          <tr>
              <th width="20%">エステ関連の仕事経験</th>
              <td><!--{$posts.exp}--></td>
          </tr>
          <tr>
              <th width="20%">経験者の方は<br>業種・経歴・資格等を<br>ご記入ください。<br>(500文字以内)</th>
              <td><!--{$posts.career}--></td>
          </tr>
          <tr>
              <th width="20%">どの求人サイトを<br>ご覧になりましたか？</th>
              <td>
              <!--{if $error.site != ''}-->
                  <span class="atten_01"><!--{$error.site}--></span>
              <!--{else}-->
                  <!--{foreach $posts.site as $value}-->
                  ・<!--{$value}-->&nbsp;
                  <!--{/foreach}-->
              <!--{/if}-->
              </td>
          </tr>
          <tr>
              <th width="20%">お問合せ内容(500文字以内)</th>
              <td>
                <!--{$posts.want}--><br>
              	<!--{$posts.detail|nl2br}-->
              </td>
          </tr>
      </table>

      <input type="hidden" name="name" value="<!--{$posts.name}-->">
      <input type="hidden" name="mail" value="<!--{$posts.mail}-->">
      <input type="hidden" name="tel" value="<!--{$posts.tel}-->">
      <input type="hidden" name="age" value="<!--{$posts.age}-->">
      <input type="hidden" name="exp" value="<!--{$posts.exp}-->">
      <input type="hidden" name="career" value="<!--{$posts.career}-->">
      <input type="hidden" name="site" value="<!--{$posts.site_value}-->">
      <input type="hidden" name="want" value="<!--{$posts.want}-->">
      <input type="hidden" name="detail" value="<!--{$posts.detail}-->">
			<input type="hidden" name="<!--{$smarty.const.TOKEN_KEY}-->" value="<!--{$token}-->">

			<!--{if $error == ''}-->
			<input type="submit" name="send" value="送信">
			<!--{/if}-->
			<input type="button" value="戻る" onclick="history.back();">

    	</form>
		</section>

<!--{/block}-->
