<!--{extends file="../common/frame.html"}-->
<!--{block name="main"}-->

		<section id="contents_contact">
			<p class="txt_box_01 form_finish">
				<!--{if $csrf == true}-->
					<!--{if $result == true}-->
						応募が完了しました。
					<!--{else}-->
						メールの送信に失敗しました。
					<!--{/if}-->
				<!--{else}-->
					不正な送信が行われました為送信を中止しました。
				<!--{/if}-->
			</p>
			<input type="button" onclick="location.href='<!--{$smarty.const.ROOT_URL}-->/entry.php'"value="応募フォームトップ" class="btn_one_02">
		</section>
<!--{/block}-->
