<!--{extends file="../common/frame.html"}-->
<!--{block name="main"}-->

		<section id="contents_entry">
      <div class="pagetext_outer">
  			<div class="pagetext_box">
  				<p>当店への面接・体験入店希望やご質問等のお問合せは、下記フォームをご利用下さいませ。<br>
          （<span class="atten_01">＊</span>は必須項目となります）</p>
          <p>お急ぎの方は&nbsp;<a href="tel:<!--{$smarty.const.SHOP_TEL_RECRUIT}-->">&#9742;&nbsp;<!--{$smarty.const.SHOP_TEL_RECRUIT}--></a>&nbsp;にお電話下さい。<br>
          （求人電話受付：<!--{$smarty.const.SHOP_RECEPTION}-->）</p>
  			</div>
      </div>
			<form method="post" action="?mode=confirm">
      <table class="table_01 text_box box_outer">
          <tr>
              <th width="30%">お名前&nbsp;<span class="atten_01">※</span></th>
              <td>
              	<input type="text" name="name" size="30">
                <p>＊ハンドルネームでも大丈夫です。</p>
              </td>
          </tr>
          <tr>
              <th width="20%">メールアドレス&nbsp;<span class="atten_01">※</span></th>
              <td>
              	<input type="email" name="mail" size="50">
                <p>携帯への返信を希望される方は、<span class="atten_01">[<!--{$smarty.const.SHOP_MAIL_RECRUIT}-->]</span>を指定受信するようにして頂くか、「PCからのメールを受信にする」に設定の変更をお願い致します。</p>
              </td>
          </tr>
          <tr>
              <th width="20%">電話番号<br>（ハイフンあり）</th>
              <td><input type="text" name="tel" size="30"></td>
          </tr>
          <tr>
            <th width="20%">年齢&nbsp;<span class="atten_01">※</span></th>
            <td><input type="text" name="age" size="5">&nbsp;歳</td>
          </tr>
          <tr><th width="20%">エステ関連の仕事経験&nbsp;<span class="atten_01">※</span></th>
            <td>
              <input type="radio" name="exp" value="あり" checked>あり&nbsp;
              <input type="radio" name="exp" value="なし">なし
            </td>
          </tr>
          <tr>
            <th width="20%">経験者の方は<br>業種・経歴・資格等を<br>ご記入ください。<br>(500文字以内)</th>
            <td><textarea name="career" cols="60" rows="10"></textarea></td>
          </tr>
          <tr>
            <th width="20%">どの求人サイトを<br>ご覧になりましたか？&nbsp;<span class="atten_01">※</span></th>
            <td>
              <input type="checkbox" name="site[]" value="パンダエステジョブ">パンダエステジョブ&nbsp;
              <input type="checkbox" name="site[]" value="メンズエステコネクション">メンズエステコネクション&nbsp;
              <br>
              <input type="checkbox" name="site[]" value="エスティー">エスティー&nbsp;
              <input type="checkbox" name="site[]" value="メンズエステジョブ">メンズエステジョブ&nbsp;
              <input type="checkbox" name="site[]" value="モモコ">モモコ&nbsp;
              <br>
              <input type="checkbox" name="site[]" value="その他">その他&nbsp;
            </td>
          </tr>
          <tr>
              <th width="20%">お問合せ内容</th>
              <td>
                <p>
                  <i class="fa fa-caret-down fa-fw" hidden-area="true"></i>ご希望<br>
                  <!--{html_options name='want' options=$form.entry.want}-->
                </p>
                <br>
                <p>
                  <i class="fa fa-caret-down fa-fw" hidden-area="true"></i>ご質問など（500文字以内）<br>
                  <textarea name="detail" cols="60" rows="10"></textarea>
                </p>
              </td>
          </tr>
      </table>
      <p class="mb_10">各項目の入力がお済みになりましたら、下記ボタンより確認画面へお進み下さい。</p>
			<input type="submit" name="confirm" value="確認">
			<input type="reset" name="reset" value="リセット">
    	</form>
		</section>

<!--{/block}-->
