<!--{extends file="../common/frame.html"}-->
<!--{block name="page_title"}-->イベント一覧<!--{/block}-->
<!--{block name="main"}-->
<div class="content-panel">
    <p class="mb">
        <button class="btn btn-info" type="button" onclick="location.href='new.php'">新規登録
        </button>
        <button class="btn btn-info" type="button" onclick="location.href='sel.php'">画像の表示を切り替え
        </button>
        <button class="btn btn-info" type="button" onclick="location.href='seq.php'">画像の並べ替え
        </button>
    </p>
    <!--{if $data|@count > 0}-->
        <section id="no-more-tables">
            <span class="red"><i class="fa fa-caret-down fa-fw" aria-hidden="true"></i>イベント画像は、<span class="txt-b"><!--{$smarty.const.IMAGE_SIZE_EVENT_PC_W}-->×<!--{$smarty.const.IMAGE_SIZE_EVENT_PC_H}-->(px)サイズ</span>で作成してください。</span><br>
            <table class="table table-bordered table-condensed cf table-list">
                <tbody>
                <!--{foreach $data as $v}-->
                <tr>
                    <td>
                        <a href="edit.php?id=<!--{$v.id}-->">
                            <img src="<!--{$smarty.const.IMG_EVENT_URL}-->/<!--{$v.file_name}-->"
                            width="<!--{$smarty.const.IMAGE_SIZE_EVENT_PC_W/3.4}-->"
                            height="<!--{$smarty.const.IMAGE_SIZE_EVENT_PC_H/3.4}-->">
                        </a>
                    </td>
                    <td>
                        <span class="">現在の状態：</span>
                        <!--{if $v.selected == $smarty.const.SET_ON}--><a href="sel.php" class="btn btn-danger">表示中</a><!--{else}--><a href="sel.php" class="btn btn-default">非表示中</a><!--{/if}-->
                    </td>
                    <td>
                        <button class="btn btn-primary"
                                onclick="location.href='edit.php?id=<!--{$v.id}-->'">
                            <i class="fa fa-pencil fa-lg"></i></button>
                        <button class="btn btn-danger"
                                onclick="delCheck('del.php?id=<!--{$v.id}-->&file_name=<!--{$v.file_name}-->')">
                            <i class="fa fa-trash-o fa-lg"></i></button>
                    </td>
                </tr>
                <!--{/foreach}-->
                </tbody>
            </table>
        </section>
    <!--{else}-->
    <div class="alert alert-warning">データが登録されていません。</div>
    <!--{/if}-->
</div>
<!-- /content-panel -->
<script>
    $(function(){
        var nowchecked = $('input[name=event_sel]:checked').val();
        $('input[name=event_sel]').click(function(){
            if($(this).val() == nowchecked) {
                $(this).prop('checked', false);
                nowchecked = false;
            } else {
                nowchecked = $(this).val();
            }
        });
    });
</script>
<!--{/block}-->
