		<!-- カバーガール -->
		<section id="section_covergirl">
			<h2 class="title">Pickup Girl</h2>
			<ul class="cast_box">
				<!--{foreach $covergirl as $v}-->
				<li>
					<a href="<!--{$smarty.const.ROOT_URL}-->/profile.php?sid=<!--{$v.id}-->">
						<p class="img_box"><!--{include file="./staff/thumbnail.html" width="200" height="300"}--></p>
						<div class="txt_box">
							<p class="icon"><!--{include file="./staff/icon_check.html"}--></p>
							<p class="name"><!--{$v.name}-->(<!--{$v.age}-->)&nbsp;<!--{include file="./staff/icon_new.html"}--><!--{include file="./staff/icon_class.html"}--></p>
							<p class="size"><!--{include file="./staff/size.html"}--></p>
						</div>
						<span class="frame"><img src="<!--{$smarty.const.IMAGES_URL}-->/vis_castframe_02.png" width="200" alt=""></span>
					</a>
				</li>
				<!--{foreachelse}-->
				<!--{/foreach}-->
			</ul>
		</section>
		<!-- //カバーガール -->
		<!-- 新人情報 -->
		<section id="section_newface">
			<h2 class="title">新人情報</h2>
			<ul class="cast_box">
				<!--{foreach $newface as $v}-->
					<li>
						<a href="<!--{$smarty.const.ROOT_URL}-->/profile.php?sid=<!--{$v.id}-->">
							<p class="img_box"><!--{include file="./staff/thumbnail.html" width="200" height="300"}--></p>
							<div class="txt_box">
								<p class="icon"><!--{include file="./staff/icon_check.html"}--></p>
								<p class="name"><!--{$v.name}-->(<!--{$v.age}-->)&nbsp;<img src="<!--{$smarty.const.IMAGES_URL}-->/icon_new.png" alt="新人"><!--{include file="./staff/icon_class.html"}--></p>
								<p class="size"><!--{include file="./staff/size.html"}--></p>
								<p class="time"><!--{$v.published|date_format:'%Y-%m-%d'}-->&nbsp;入店</p>
							</div>
							<span class="frame"><img src="<!--{$smarty.const.IMAGES_URL}-->/vis_castframe_02.png" width="200" alt=""></span>
						</a>
					</li>
				<!--{/foreach}-->
			</ul>
		</section>
		<!-- //新人情報 -->
		<!-- 新人情報ver02 -->
		<section id="section_newface02">
			<h2 class="title">新人情報</h2>
				<ul>
				<!--{foreach $newface as $v}-->
					<li>
					<a href="<!--{$smarty.const.ROOT_URL}-->/profile.php?sid=<!--{$v.id}-->">
					<div class="photo">
					<p class="img_box"><!--{include file="./staff/thumbnail.html" width="90" height="135"}--></p>
					<span class="frame"><img src="<!--{$smarty.const.IMAGES_URL}-->/vis_castframe_01.png" width="90" alt=""></span>
					</div>
					<div>
							<p class="name"><!--{$v.name}-->(<!--{$v.age}-->)&nbsp;<!--{include file="./staff/icon_new.html"}--></p>
							<p class="size"><!--{include file="./staff/size.html"}--></p>
							<p class="time">
							入店日&nbsp;
							<!--{$v.published|date_format:'%Y-%m-%d'}--></p>
							<!--{if $v.long_comment1 != ''}-->
                                <p class="textCut"><!--{$v.long_comment1|nl2br}--></p>
                            <!--{/if}-->
					</div>
					</a>
					</li>
				<!--{/foreach}-->
				</ul>
		</section>
		<!-- //新人情報ver02 -->
		<aside>
			<p class="mb_20"><a href="#" class="link_act_01"><img src="<!--{$smarty.const.IMAGES_URL}-->/bnr_side_x.png" alt=""></a></p>
			<p class="mb_20"><a href="#" class="link_act_01"><img src="<!--{$smarty.const.IMAGES_URL}-->/bnr_side_xx.png" alt=""></a></p>
			<p><a href="#" class="link_act_01"><img src="<!--{$smarty.const.IMAGES_URL}-->/bnr_side_xxx.png" alt=""></a></p>
		</aside>
