<!-- Ver.Twitterなし -->
<aside id="bnr">
	<ul>
		<li>
			<a href="#" class="link_act_01">
				<img src="<!--{$smarty.const.IMAGES_URL}-->/bnr_x.png" alt="">
			</a>
		</li>
		<li>
			<a href="#" class="link_act_01">
				<img src="<!--{$smarty.const.IMAGES_URL}-->/bnr_xx.png" alt="">
			</a>
		</li>
		<li>
			<a href="#" class="link_act_01">
				<img src="<!--{$smarty.const.IMAGES_URL}-->/bnr_xxx.png" alt="">
			</a>
		</li>
	</ul>
	<ul>
		<li>
			<a href="#" class="link_act_01">
				<img src="<!--{$smarty.const.IMAGES_URL}-->/bnr_x.png" alt="">
			</a>
		</li>
		<li>
			<a href="#" class="link_act_01">
				<img src="<!--{$smarty.const.IMAGES_URL}-->/bnr_xx.png" alt="">
			</a>
		</li>
		<li>
			<a href="#" class="link_act_01">
				<img src="<!--{$smarty.const.IMAGES_URL}-->/bnr_xxx.png" alt="">
			</a>
		</li>
	</ul>
</aside>
<!-- Ver.Twitter有り -->
<aside id="bnr_t">
	<!-- ツイッター -->
	<div class="tweet">
		<a class="twitter-timeline" href="https://twitter.com/test_panda01" data-widget-id="667197703428792321">@test_panda01さんのツイート</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
	<!-- バナー -->
	<ul>
		<li>
			<a href="#" class="link_act_01">
				<img src="<!--{$smarty.const.IMAGES_URL}-->/bnr_t_x.png" alt="">
				</a>
			</li>
		<li>
			<a href="#" class="link_act_01">
				<img src="<!--{$smarty.const.IMAGES_URL}-->/bnr_t_xx.png" alt="">
				</a>
			</li>
		<li>
			<a href="#" class="link_act_01">
				<img src="<!--{$smarty.const.IMAGES_URL}-->/bnr_t_xxx.png" alt="">
				</a>
			</li>
		<li>
			<a href="#" class="link_act_01">
				<img src="<!--{$smarty.const.IMAGES_URL}-->/bnr_t_xxxx.png" alt="">
				</a>
			</li>
	</ul>
</aside>

<iframe src="https://esz.jp/widget/movie.php?id=2" width="100%" height="400" frameborder="0"></iframe>