<footer>
	<div class="inner">
		<ul class="nav">
			<li><a href="<!--{$smarty.const.ROOT_URL}-->/top.php"><!--{$html.name.top}--></a></li>
			<li><a href="<!--{$smarty.const.ROOT_URL}-->/system.php"><!--{$html.name.system}--></a></li>
			<li><a href="<!--{$smarty.const.ROOT_URL}-->/staff.php"><!--{$html.name.staff}--></a></li>
			<li><a href="<!--{$smarty.const.ROOT_URL}-->/schedule.php"><!--{$html.name.schedule}--></a></li>
			<li><a href="<!--{$smarty.const.ROOT_URL}-->/hotel.php"><!--{$html.name.hotel}--></a></li>
			<li><a href="<!--{$smarty.const.ROOT_URL}-->/recruit.php"><!--{$html.name.recruit}--></a></li>
			<li><a href="<!--{$smarty.const.ROOT_URL}-->/magazine.php"><!--{$html.name.magazine}--></a></li>
			<li><a href="<!--{$smarty.const.ROOT_URL}-->/link.php"><!--{$html.name.link}--></a></li>
			<li><a href="<!--{$smarty.const.ROOT_URL}-->/enquete.php"><!--{$html.name.enquete}--></a></li>
			<li><a href="<!--{$smarty.const.ROOT_URL}-->/reserve.php"><!--{$html.name.reserve}--></a></li>
		</ul>
		<ul class="nav">
			<li><a href="<!--{$smarty.const.ROOT_URL}-->/ranking.php"><!--{$html.name.ranking}--></a></li>
			<li><a href="<!--{$smarty.const.ROOT_URL}-->/contact.php"><!--{$html.name.contact}--></a></li>
			<li><a href="<!--{$smarty.const.ROOT_URL}-->/info.php"><!--{$html.name.info}--></a></li>
			<li><a href="<!--{$smarty.const.ROOT_URL}-->/play.php"><!--{$html.name.play}--></a></li>
			<li><a href="<!--{$smarty.const.ROOT_URL}-->/manga.php"><!--{$html.name.manga}--></a></li>
			<li><a href="<!--{$smarty.const.ROOT_URL}-->/qa.php"><!--{$html.name.qa}--></a></li>
			<li><a href="<!--{$smarty.const.ROOT_URL}-->/access.php"><!--{$html.name.access}--></a></li>
			<li><a href="<!--{$smarty.const.ROOT_URL}-->/concept.php"><!--{$html.name.concept}--></a></li>
			<li><a href="<!--{$smarty.const.ROOT_URL}-->/credit.php"><!--{$html.name.credit}--></a></li>
			<li><a href="<!--{$smarty.const.ROOT_URL}-->/schedule_week.php"><!--{$html.name.schedule_week}--></a></li>
			<li><a href="<!--{$smarty.const.ROOT_URL}-->/event.php"><!--{$html.name.event}--></a></li>
			<li><a href="<!--{$smarty.const.ROOT_URL}-->/impressions.php"><!--{$html.name.impressions}--></a></li>
		</ul>
		<!-- ロゴ -->
		<p class="logo"><a href="#"><img src="<!--{$smarty.const.IMAGES_URL}-->/logo.png" alt="<!--{$page.h2}-->" width="160"></a></p>
		<!-- ロゴ -->
		<!-- 電話番号＆営業時間 -->
		<ul class="info_box">
			<li><a href="tel:<!--{$smarty.const.SHOP_TEL}-->"><img src="<!--{$smarty.const.IMAGES_URL}-->/img_tel.png" alt="電話番号：<!--{$smarty.const.SHOP_TEL}-->" width="250"></a></li>
			<li><img src="<!--{$smarty.const.IMAGES_URL}-->/img_open.png" alt="営業時間：<!--{$smarty.const.SHOP_OPEN}-->" width="250"></li>
		</ul>
		<!-- 電話番号＆営業時間 -->
		<p>
			&copy;&nbsp;
			<script type="text/javascript">
				$y=2016;$ny=new Date().getFullYear();
				document.write($ny>$y?$y+'-'+$ny: $y);
			</script>
			&nbsp;<!--{$smarty.const.SHOP_NAME}-->
		</p>
	</div>
</footer>