<header>
	<div class="inner">
		<div id="tmp_sw">
			<p>テンプレート：</p>
			<form id="form_sw" action="" method="post">
			<select name="tmp_sw">
				<option value="1" <!--{if $smarty.session.tmp_sw == 1}-->selected<!--{/if}-->>1. メニュー横/1カラム</option>
				<option value="2" <!--{if $smarty.session.tmp_sw == 2}-->selected<!--{/if}-->>2. メニュー横/2カラム</option>
				<option value="3" <!--{if $smarty.session.tmp_sw == 3}-->selected<!--{/if}-->>3. メニュー縦/2カラム</option>
			</select>
			</form>
		</div>
		<script>
			$(function(){
				$('[name=tmp_sw]').change(function(){
					$('#form_sw').submit();
				});
			});
		</script>
		
		<h1><!--{$page.h1}--></h1>
		<!-- ロゴ -->
		<h2 class="logo"><a href="/"><img src="<!--{$smarty.const.IMAGES_URL}-->/logo.png" alt="<!--{$page.h2}-->" width="290"></a></h2>
		<!-- ロゴ -->
		<!-- 電話番号＆営業時間 -->
		<ul class="info_box">
			<li><a href="tel:<!--{$smarty.const.SHOP_TEL}-->"><img src="<!--{$smarty.const.IMAGES_URL}-->/img_tel.png" alt="電話番号:<!--{$smarty.const.SHOP_TEL}-->"></a></li>
			<li><img src="<!--{$smarty.const.IMAGES_URL}-->/img_open.png" alt="営業時間:<!--{$smarty.const.SHOP_OPEN}-->"></li>
		</ul>
		<!-- 電話番号＆営業時間 -->
		<!-- ヘッドラインニュース -->
		<div class="headline">
			<ul>
			<!--{foreach $headline as $v}-->
				<!--{if $form.line.hex[$v.color_flg] != ''}-->
				<li><span style="color:<!--{$form.line.hex[$v.color_flg]}-->;"><!--{$v.name}--></span></li>
				<!--{else}-->
				<li><!--{$v.name}--></li>
				<!--{/if}-->
			<!--{/foreach}-->
			</ul>
		</div>
		<!-- ヘッドラインニュース -->
	</div>
	<!-- グローバルメニュー -->
	<nav>
		<ul class="inner">
			<li><a href="<!--{$smarty.const.ROOT_URL}-->/top.php"  id="gnav_01"><!--{$html.name.top}--></a></li>
			<li><a href="<!--{$smarty.const.ROOT_URL}-->/system.php"  id="gnav_02"><!--{$html.name.system}--></a></li>
			<li><a href="<!--{$smarty.const.ROOT_URL}-->/staff.php"  id="gnav_03"><!--{$html.name.staff}--></a></li>
			<li><a href="<!--{$smarty.const.ROOT_URL}-->/schedule.php"  id="gnav_04"><!--{$html.name.schedule}--></a></li>
			<li><a href="<!--{$smarty.const.ROOT_URL}-->/hotel.php"  id="gnav_05"><!--{$html.name.hotel}--></a></li>
			<li><a href="<!--{$smarty.const.ROOT_URL}-->/recruit.php"  id="gnav_06"><!--{$html.name.recruit}--></a></li>
			<!-- <li><a href="<!--{$smarty.const.ROOT_URL}-->/magazine.php"><!--{$html.name.magazine}--></a></li>
			<li><a href="<!--{$smarty.const.ROOT_URL}-->/link.php"><!--{$html.name.link}--></a></li>
			<li><a href="<!--{$smarty.const.ROOT_URL}-->/enquete.php"><!--{$html.name.enquete}--></a></li>
			<li><a href="<!--{$smarty.const.ROOT_URL}-->/reserve.php"><!--{$html.name.reserve}--></a></li>
			<li><a href="<!--{$smarty.const.ROOT_URL}-->/ranking.php"><!--{$html.name.ranking}--></a></li>
			<li><a href="<!--{$smarty.const.ROOT_URL}-->/contact.php"><!--{$html.name.contact}--></a></li>
			<li><a href="<!--{$smarty.const.ROOT_URL}-->/info.php"><!--{$html.name.info}--></a></li>
			<li><a href="<!--{$smarty.const.ROOT_URL}-->/play.php"><!--{$html.name.play}--></a></li>
			<li><a href="<!--{$smarty.const.ROOT_URL}-->/manga.php"><!--{$html.name.manga}--></a></li>
			<li><a href="<!--{$smarty.const.ROOT_URL}-->/qa.php"><!--{$html.name.qa}--></a></li>
			<li><a href="<!--{$smarty.const.ROOT_URL}-->/access.php"><!--{$html.name.access}--></a></li>
			<li><a href="<!--{$smarty.const.ROOT_URL}-->/concept.php"><!--{$html.name.concept}--></a></li>
			<li><a href="<!--{$smarty.const.ROOT_URL}-->/credit.php"><!--{$html.name.credit}--></a></li>
			<li><a href="<!--{$smarty.const.ROOT_URL}-->/schedule_week.php"><!--{$html.name.schedule_week}--></a></li> -->
		</ul>
	</nav>
	<!-- //グローバルメニュー -->
</header>

<!-- パンくず -->
<div class="breadcrumbs">
	<ul class="inner">
	<!--{foreach $bread as $value}-->
		<li>
		<!--{if $value.url != ''}-->
			<a href="<!--{$value.url}-->"><!--{$value.title}--></a>
		<!--{else}-->
			<!--{$value.title}-->
		<!--{/if}-->
		</li>
	<!--{/foreach}-->
	</ul>
</div>
<!-- //パンくず -->