<script src="js/google_analytics.js"></script><!-- アナリティクス gtagである限りこの位置で記述すること -->
<meta charset="utf-8">
<title><!--{$page.title|default:''}--></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description" content="<!--{$page.description|default:''}-->">
<meta name="keywords" content="<!--{$page.keywords|default:''}-->">
<meta name="viewport" content="width=960, user-scalable=yes">

<link rel="stylesheet" href="<!--{$smarty.const.ROOT_URL}-->/css/style.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"><!-- Webfont -->
<link rel="stylesheet" href="css/tabswitch.css"><!-- タブの切替 -->
<link rel="stylesheet" href="css/flexslider.css"><!-- 体験漫画 -->
<link rel="stylesheet" href="css/swiper.min.css"><!-- RSS -->
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" /><!-- 日付ピッカー -->
<link rel="shortcut icon" href="<!--{$smarty.const.IMAGES_URL}-->/favicon.ico">
<link rel="apple-touch-icon" href="<!--{$smarty.const.IMAGES_URL}-->/apple-touch-icon.png">
<link rel="alternate" media="only screen and (max-width: 640px)" href="<!--{$smarty.const.SHOP_URL}--><!--{$sp_dir_path}-->">
<link rel="alternate" media="handheld" href="<!--{$smarty.const.SHOP_URL}--><!--{$mb_dir_path}-->">
<link rel="canonical" href="<!--{$smarty.const.SHOP_URL}--><!--{$pc_dir_path}-->">
<script src="js/jquery-1.11.2.min.js"></script><!-- jQuery -->
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script src="js/jquery.cycle.all.min.js"></script><!-- cycle -->
<script src="js/tabswitch.js"></script><!-- タブの切替 -->
<script src="js/jquery.flexslider-min.js"></script><!-- 体験漫画 -->
<script src="js/swiper.min.js"></script><!-- RSS -->
<script type="text/javascript" src="js/jquery.ui.datepicker-ja.js"></script><!-- 日付ピッカー -->
<script src="js/my.js"></script>
<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->






