<!--{extends file="../common/frame.html"}-->
<!--{block name="page_title"}--><!--{$smarty.const.STAFF_CALL}-->登録<!--{/block}-->
<!--{block name="main"}-->
<script><!--
chmax=2;        //最大チェック数
//--------------------------
function check(chobj){
    if(!chobj.checked)return;
        chname1=chobj.id;
        chint=0;
        elementleng=document.forms[0].elements[chname1].length;
        for(i=0;i<elementleng;i++){
        if(document.forms[0].elements[chname1][i].checked){
        chint++;
        if(chint>chmax){chobj.checked=false;break;}
        }
    }
}
// -->
</script>
<div class="form-panel">
    <!--{if $params.id != ''}-->
    <ul class="nav nav-tabs mb15">
        <li class="active"><a href="#">基本情報</a></li>
        <li><a href="photo.php?id=<!--{$params.id}-->&p=<!--{$params.p}-->">画像・動画</a></li>
        <li><a href="sch.php?id=<!--{$params.id}-->&w=1&p=<!--{$params.p}-->">スケジュール</a></li>
    </ul>
    <!--{/if}-->
    <form class="form-horizontal style-form" action="finish.php?p=<!--{$params.p}-->" method="post" onsubmit="return formCheck(this)">
        <input type="hidden" name="<!--{$smarty.const.TOKEN_KEY}-->" value="<!--{$token}-->">
        <input type="hidden" name="id" value="<!--{$params.id|default:''}-->">

        <div class="form-group">
            <label class="col-sm-2 control-label">登録日 <span class="btn-danger btn-xs txt-sm">必須</span>
                <br/><span class="txt-sm">（2016-00-00 00:00形式）</span></label>

            <div class="col-sm-10">
                <input class="form-control form-sm" name="published" type="text"
                       value="<!--{$data.published|default:$smarty.now|date_format:'%Y-%m-%d %H:%M'}-->">
                        <!--{if $data.updated == ''}-->
                        <!--{else}-->
                        <p class="edit-updated">
                            （&nbsp;<i class="fa fa-repeat fa-fw" aria-hidden="true"></i>
                            最終更新 <span class="txt-b"><!--{$data.updated}-->&nbsp;）</span>
                        </p>
                        <!--{/if}-->
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">名前 <span class="btn-danger btn-xs txt-sm">必須</span>
                <br/><span class="txt-sm">（15文字）</span></label>

            <div class="col-sm-10">
                <input type="text" name="name" class="form-control form-sm" value="<!--{$data.name|default:''}-->">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">表示設定</label>

            <div class="col-sm-10">
                <!--{html_radios name='show_flg' options=$form.show selected=$data.show_flg|default:$smarty.const.SHOW_ON}-->
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">新人設定</label>

            <div class="col-sm-10">
                <!--{html_radios name='new_flg' options=$form.set selected=$data.new_flg|default:$smarty.const.SET_ON}-->
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">カバーガール設定</label>

            <div class="col-sm-10">
                <!--{html_radios name='cover_flg' options=$form.set selected=$data.cover_flg|default:$smarty.const.SET_ON}-->
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">常時お休み設定</label>

            <div class="col-sm-10">
                <!--{html_radios name='rest_flg' options=$form.set selected=$data.rest_flg|default:$smarty.const.SET_OFF}-->
            </div>
        </div>
        <!--{if $form.class.name|@count > 0}-->
        <!--{foreach $form.class.name as $k => $v}-->
        <div class="form-group">
            <label class="col-sm-2 control-label"><!--{$v}--></label>

            <div class="col-sm-10">
                <!--{html_radios name="class_flg$k" options=$form.class.value.$k selected=$data.class_flg.$k|default:0}-->
            </div>
        </div>
        <!--{/foreach}-->
        <!--{/if}-->

        <!--{if $form.check.name|@count > 0}-->
        <div class="form-group">
            <label class="col-sm-2 control-label">状態 </label>

            <div class="col-sm-10">
                <!--{html_checkboxes name="check_flg" id="chkobj" onclick="check(this)" options=$form.check.name selected=$data.check_flg}-->
            </div>
        </div>
        <!--{/if}-->

        <div class="form-group">
            <label class="col-sm-2 control-label">年齢
                <br/><span class="txt-sm">（数値のみ）</span></label>

            <div class="col-sm-10">
                <table width="20%">
                    <tr>
                        <td><input type="text" name="age" class="form-control" value="<!--{$data.age|default:''}-->">
                        </td>
                        <td>歳</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">3サイズ
                <br/><span class="txt-sm">（数値のみ）</span></label>

            <div class="staff-size col-sm-10">
                <table>
                    <tr>
                        <td>
                            <i class="fa fa-caret-down fa-lg" aria-hidden="true"></i>
                            T<span class="txt-sm">（身長）</span>
                            <input type="text" name="t" class="form-control" value="<!--{$data.t|default:''}-->">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa fa-caret-down fa-lg" aria-hidden="true"></i>
                            B<span class="txt-sm">（バスト）</span>
                            <input type="text" name="b" class="form-control" value="<!--{$data.b|default:''}-->">
                        </td>
                        <td>
                            <i class="fa fa-caret-down fa-lg" aria-hidden="true"></i>
                            W<span class="txt-sm">（ウエスト）</span>
                            <input type="text" name="w" class="form-control" value="<!--{$data.w|default:''}-->">
                        </td>
                        <td>
                            <i class="fa fa-caret-down fa-lg" aria-hidden="true"></i>
                            H<span class="txt-sm">（ヒップ）</span>
                            <input type="text" name="h" class="form-control" value="<!--{$data.h|default:''}-->">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa fa-caret-right fa-lg" aria-hidden="true"></i>
                            C<span class="txt-sm">（カップ）</span>
                            <!--{html_options name='c' options=$form.cup selected=$data.c|default:''}-->
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <!--{if $form.item.name|@count > 0}-->
        <!--{foreach $form.item.name as $k => $v}-->
        <div class="form-group">
            <label class="col-sm-2 control-label"><!--{$v}--></label>
            <div class="col-sm-10">
                <table class="table table-bordered table-condensed">
                    <!--{foreach $data.item.$k as $key => $val}-->
                    <tr>
                        <td class="col-sm-2"><!--{$val.name}--></td>
                        <td class="col-sm-8">
                            <!--{if $form.item.type.$k === 'text'}-->
                            <input type="text" name="item_flg[<!--{$val.id}-->]" class="form-control"
                                   value="<!--{$data.staff_item[$val.id]|default:''}-->">
                            <!--{else}-->
                            <!--{html_options name="item_flg[<!--{$val.id}-->]" options=$form.item.value.$k
                            selected=$data.staff_item[$val.id]|default:0}-->
                            <!--{/if}-->
                        </td>
                    </tr>
                    <!--{foreachelse}-->
                    <tr>
                        <td class="alert alert-danger"><!--{$val.name}-->データが登録されていません。</td>
                    </tr>
                    <!--{/foreach}-->
                </table>
            </div>
        </div>
        <!--{/foreach}-->
        <!--{/if}-->

        <div class="form-group">
            <label class="col-sm-2 control-label">URL項目<br/><span class="txt-sm">（URL形式のみ）</span></label>

            <div class="col-sm-10">
                <input type="text" name="url" class="form-control" value="<!--{$data.url|default:''}-->">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">youtubeタグ</label>

            <div class="col-sm-10">
                <input type="text" name="youtube" class="form-control" value="<!--{$data.youtube|default:''}-->"><br/>
                ※youtube共有リンク「https://youtu.be/xxxxxxxxxxxx」の「xxxxxxxxxxxx」部分を入力下さい。
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">一言コメント
                <br/><span class="txt-sm">（20文字）</span></label>

            <div class="col-sm-10">
                <input type="text" name="short_comment" class="form-control" value="<!--{$data.short_comment|default:''}-->">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">紹介文１
                <br/><span class="txt-sm">（1000文字）</span></label>

            <div class="col-sm-10">
                <textarea class="form-control" style="height:300px" name="long_comment1"><!--{$data.long_comment1|default:''}--></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">紹介文２
                <br/><span class="txt-sm">（1000文字）</span></label>

            <div class="col-sm-10">
                <textarea class="form-control" style="height:300px" name="long_comment2"><!--{$data.long_comment2|default:''}--></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">出勤時間</label>

            <div class="col-sm-10">
                <section id="no-more-tables">
                    <table class="table table-bordered table-condensed cf table-box">
                        <thead class="cf">
                            <tr>
                                <!--{foreach $day_of_week as $k => $v}-->
                                <th class="text-center"><!--{$v}-->曜日</th>
                                <!--{/foreach}-->
                            </tr>
                        </thead>
                        <tbody>
                        <tr style="font-size: 90%">
                            <!--{foreach $day_of_week as $k => $v}-->
                            <td data-title="<!--{$v}-->曜日">
                                <p>出勤<br />
                                <!--{html_options name="going_hour[<!--{$k}-->]" options=$form.hour selected=$data.sch.$k.going_hour|default:''}-->:
                                <!--{html_options name="going_min[<!--{$k}-->]" options=$form.min selected=$data.sch.$k.going_min|default:''}-->
                                </p>
                                <p>
                                退勤<br />
                                <!--{html_options name="leave_hour[<!--{$k}-->]" options=$form.hour selected=$data.sch.$k.leave_hour}-->:
                                <!--{html_options name="leave_min[<!--{$k}-->]" options=$form.min selected=$data.sch.$k.leave_min}-->
                                </p>
                                <p class="sch-check">
                                <!--{html_checkboxes class="allow_mode" name="allow_mode[<!--{$k}-->]" options=$form.allow_mode selected=$data.sch.$k.allow_mode}-->
                                </p>
<!--{*
                                <p class="sch-check">
                                予約フラグ
                                <!--{html_radios class="allow_mode" name="reserve_icon[<!--{$k}-->]" options=$form.reserve_icon selected=$data.sch.$k.reserve_icon|default:$smarty.const.DEFAULT_RESERVE_ICON}-->
                                </p>
*}-->
                            </td>
                            <!--{/foreach}-->
                        </tr>
                        </tbody>
                    </table>
                </section>
            </div>
        </div>

        <!--{if $params.id != ''}-->
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>

            <div class="col-sm-10">
                <label><input type="checkbox" name="del" value="1"> <span
                        class="label label-danger">データを削除する</span></label>
            </div>
        </div>
        <!--{/if}-->
        <p class="mt text-center">
            <input type="submit" name="edit" class="btn btn-primary btn-smart" value="登録">
            <input type="button" name="back" class="btn btn-default btn-smart" value="戻る" onclick="history.back();">
        </p>
    </form>
</div>
<script src="<!--{$smarty.const.AD_URL}-->/js/check/staff_basic.js"></script>
<!-- /content-panel -->
<!--{/block}-->
