<!--{extends file="../common/frame.html"}-->
<!--{block name="main"}-->

		<section id="contents_contact">
			<h2 class="title"><!--{$page.name}--></h2>
			<p class="pagetext_box">
        当店は『あなたを癒す心からの施述』がコンセプトの、完全予約制プライベートサロンです。<br>
        JR五反田駅西口より徒歩4分のオフィスストリートにて、厳選されたセラピストによる心からのおもてなしと至福のひとときをご提供いたします。<br>
        完全個室の癒しの空間で、セラピストの笑顔を心ゆくまでお楽しみください。<br>
        <br>
        ご来店の際は、JR五反田駅西口右手、国通沿いのコンビニ付近よりお電話ください。皆さまのご来店をスタッフ一同、心よりお待ちしております。<br><br>
				<span class="atten_01">※</span>は必須項目です。
			</p>
			<form method="post" action="?mode=confirm">
      <table class="table_01 text_box">
          <tr>
              <th width="30%">お名前&nbsp;<span class="atten_01">※</span></th>
              <td>
              	<input type="text" name="name" size="30">
              </td>
          </tr>
          <tr>
              <th width="20%">メールアドレス&nbsp;<span class="atten_01">※</span></th>
              <td>
              	<input type="email" name="mail1" size="30">
              </td>
          </tr>
          <tr>
              <th width="20%">メールアドレス(確認)&nbsp;<span class="atten_01">※</span></th>
              <td>
              	<input type="email" name="mail2" size="30">
              </td>
          </tr>
          <tr>
              <th width="20%">お問合せの種類&nbsp;<span class="atten_01">※</span></th>
              <td>
              	<!--{html_options name='item' options=$form.contact.item selected=''}-->
              </td>
          </tr>
          <tr>
              <th width="20%">お問合せ内容(500文字以内)</th>
              <td>
              	<textarea name="detail" cols="80" rows="10"></textarea>
              </td>
          </tr>
      </table>
			<input type="submit" name="confirm" value="確認">
			<input type="reset" name="reset" value="リセット">
    	</form>
		</section>

<!--{/block}-->
