<!--{extends file="../common/frame.html"}-->
<!--{block name="main"}-->

		<section id="contents_reserve">
			<h2 class="title"><!--{$page.name}--></h2>
			<form method="post" action="?mode=finish">
	      <table class="table_01 text_box">
	          <tr>
	              <th width="30%">種別&nbsp;<span class="atten_01">※</span></th>
	              <td>
	              	<!--{if $error.kind != ''}--><span class="atten_01"><!--{$error.kind}--></span><!--{else}--><!--{$posts.kind}--><!--{/if}-->
	              </td>
	          </tr>
	          <tr>
	              <th width="20%">お名前&nbsp;<span class="atten_01">※</span></th>
	              <td>
	              	<!--{if $error.name != ''}--><span class="atten_01"><!--{$error.name}--></span><!--{else}--><!--{$posts.name}--><!--{/if}-->
	              </td>
	          </tr>
	          <tr>
	              <th width="20%">フリガナ&nbsp;<span class="atten_01">※</span></th>
	              <td>
	              	<!--{if $error.kana != ''}--><span class="atten_01"><!--{$error.kana}--></span><!--{else}--><!--{$posts.kana}--><!--{/if}-->
	              </td>
	          </tr>
	          <tr>
	              <th width="20%">メールアドレス&nbsp;<span class="atten_01">※</span></th>
	              <td>
	              	<!--{if $error.mail1 != ''}--><span class="atten_01"><!--{$error.mail1}--></span><!--{else}--><!--{$posts.mail1}--><!--{/if}-->
	              </td>
	          </tr>
	          <tr>
	              <th width="20%">メールアドレス(確認)&nbsp;<span class="atten_01">※</span></th>
	              <td>
	              	<!--{if $error.mail2 != ''}--><span class="atten_01"><!--{$error.mail2}--></span><!--{else}--><!--{$posts.mail2}--><!--{/if}-->
	              </td>
	          </tr>
	          <tr>
	              <th width="20%">電話番号&nbsp;<span class="atten_01">※</span></th>
	              <td>
	              	<!--{if $error.tel != ''}--><span class="atten_01"><!--{$error.tel}--></span><!--{else}--><!--{$posts.tel}--><!--{/if}-->
	              </td>
	          </tr>
	          <tr>
	              <th width="20%">ご利用日時&nbsp;<span class="atten_01">※</span></th>
	              <td>
	              	<!--{$posts.day}--><!--{$posts.hour}-->時<!--{$posts.min}-->分
	              </td>
	          </tr>
	          <tr>
	              <th width="20%">ご利用コース&nbsp;<span class="atten_01">※</span></th>
	              <td>
	              	<!--{$posts.course}-->
	              </td>
	          </tr>
	          <tr>
	              <th width="20%"><!--{$smarty.const.STAFF_CALL}-->指名&nbsp;<span class="atten_01">※</span></th>
	              <td>
	              	<!--{$posts.staff}-->
	              </td>
	          </tr>
	          <tr>
	              <th width="20%">お問合せ内容</th>
	              <td>
	              	<!--{$posts.detail|nl2br}-->
	              </td>
	          </tr>
	      </table>

				<input type="hidden" name="kind" value="<!--{$posts.kind}-->">
				<input type="hidden" name="name" value="<!--{$posts.name}-->">
				<input type="hidden" name="kana" value="<!--{$posts.kana}-->">
				<input type="hidden" name="mail1" value="<!--{$posts.mail1}-->">
				<input type="hidden" name="mail2" value="<!--{$posts.mail2}-->">
				<input type="hidden" name="tel" value="<!--{$posts.tel}-->">
				<input type="hidden" name="month" value="<!--{$posts.month}-->">
				<input type="hidden" name="day" value="<!--{$posts.day}-->">
				<input type="hidden" name="hour" value="<!--{$posts.hour}-->">
				<input type="hidden" name="min" value="<!--{$posts.min}-->">
				<input type="hidden" name="course" value="<!--{$posts.course}-->">
				<input type="hidden" name="staff" value="<!--{$posts.staff}-->">
				<input type="hidden" name="detail" value="<!--{$posts.detail}-->">
				<input type="hidden" name="<!--{$smarty.const.TOKEN_KEY}-->" value="<!--{$token}-->">

				<!--{if $error == ''}-->
				<input type="submit" name="send" value="送信">
				<!--{/if}-->
				<input type="button" value="戻る" onclick="history.back();">
    	</form>
		</section>

<!--{/block}-->
