<!--{extends file="../common/frame.html"}-->
<!--{block name="main"}-->
<script>
$(function() {
	$('#datepicker').datepicker({
		showOtherMonths: true,
		minDate: '0',
		maxDate: '+2m'
	});
});
</script>


		<section id="contents_reserve">
			<h2 class="title"><!--{$page.name}--></h2>
			<p class="pagetext_box">
        当店は『あなたを癒す心からの施述』がコンセプトの、完全予約制プライベートサロンです。<br>
        JR五反田駅西口より徒歩4分のオフィスストリートにて、厳選されたセラピストによる心からのおもてなしと至福のひとときをご提供いたします。<br>
        完全個室の癒しの空間で、セラピストの笑顔を心ゆくまでお楽しみください。<br>
        <br>
        ご来店の際は、JR五反田駅西口右手、国通沿いのコンビニ付近よりお電話ください。皆さまのご来店をスタッフ一同、心よりお待ちしております。<br><br>
				<span class="atten_01">※</span>は必須項目です。
			</p>
			<form method="post" action="?mode=confirm">
      <table class="table_01 text_box">
          <tr>
              <th width="30%">種別&nbsp;<span class="atten_01">※</span></th>
              <td>
              	<!--{html_options name='kind' options=$form.reserve.kind selected=''}-->
              </td>
          </tr>
          <tr>
              <th width="20%">お名前&nbsp;<span class="atten_01">※</span></th>
              <td>
              	<input type="text" name="name" size="30">
              </td>
          </tr>
          <tr>
              <th width="20%">フリガナ&nbsp;<span class="atten_01">※</span></th>
              <td>
              	<input type="text" name="kana" size="30">
              </td>
          </tr>
          <tr>
              <th width="20%">メールアドレス&nbsp;<span class="atten_01">※</span></th>
              <td>
              	<input type="email" name="mail1" size="30">
              </td>
          </tr>
          <tr>
              <th width="20%">メールアドレス(確認)&nbsp;<span class="atten_01">※</span></th>
              <td>
              	<input type="mail" name="mail2" size="30">
              </td>
          </tr>
          <tr>
              <th width="20%">電話番号&nbsp;<span class="atten_01">※</span></th>
              <td>
              	<input type="text" name="tel" size="30">
              </td>
          </tr>
          <tr>
              <th width="20%">ご利用日時&nbsp;<span class="atten_01">※</span></th>
             
              <td id="reserve">
                  
            <input type="text" id="day" name="day" value="<!--{$today}-->" readonly>
            <script>
              $(function() {
                $('#day').datepicker({
                  dateFormat: "yy年mm月dd日",
                  minDate: "<!--{$today}-->",
                  showButtonPanel : true,
                  maxDate: "+1W +1D"
                });
              });
            </script>                   
                  
                  
                <!--{html_options name='hour' options=$form.reserve.hour}-->時
                <!--{html_options name='min' options=$form.reserve.min}-->分
              </td>
          </tr>
          <tr>
              <th width="20%">ご利用コース&nbsp;<span class="atten_01">※</span></th>
              <td>
              	<!--{html_options name='course' options=$form.reserve.course}-->
              </td>
          </tr>
          <tr>
              <th width="20%"><!--{$smarty.const.STAFF_CALL}-->指名&nbsp;<span class="atten_01">※</span></th>
              <td>
              	<!--{html_options name='staff' options=$staff_list}-->
              </td>
          </tr>
          <tr>
              <th width="20%"><!--{$smarty.const.STAFF_CALL}-->指名&nbsp;連動ver<span class="atten_01">※</span></th>
              <td class="select-control2">
              </td>
              <script>
                  $(function(){
                      get_therapist();
                      $('#reserve').children('select').change(function() {
                          get_therapist();
                      });    
                      $('#reserve').children('[name=day]').change(function() {
                          get_therapist();
                      });                       
                      function get_therapist()
                      {
                          $.ajax({
                              url: '<!--{$smarty.const.ROOT_URL}-->/pwc-pages/ajax/reserve_therapist.php',
                              data: {
                                  day: $('[name=day]').val(),
                                  hour: $('[name=hour]').val(),
                                  min: $('[name=min]').val()
                              },
                              dataType: 'json',
                              cache: false,
                              type: 'POST',
                              success: function(data) {
                                  $(".select-control2 select").remove();
                                  var html = "<select name=\"staff2\"><option selected=\"selected\" value=\"指名なし\">指名なし</option>";
                                  $.each(data, function(index, value){
                                      html += "<option value="+value['name']+">"+value['name']+"</option>";
                                  });
                                  html += "</select>";
                                  $(".select-control2").append(html);
                              },
                              error: function(data) {
                                  alert('失敗しました');
                              }
                          });
                      }
                  });
              </script>
          </tr>
          <tr>
              <th width="20%">お問合せ内容</th>
              <td>
              	<textarea name="detail" cols="80" rows="10"></textarea>
              </td>
          </tr>
      </table>
			<input type="submit" name="confirm" value="確認">
			<input type="reset" name="reset" value="リセット">
    	</form>
		</section>
		
<!--{/block}-->
