<!--{extends file="./common/frame.html"}-->
<!--{block name="main"}-->
		<section id="contents_access">
			<h2 class="title">アクセス</h2>
			<p class="pagetext_box">
				当店は『あなたを癒す心からの施述』がコンセプトの、完全予約制プライベートサロンです。<br>
				JR五反田駅西口より徒歩4分のオフィスストリートにて、厳選されたセラピストによる心からのおもてなしと至福のひとときをご提供いたします。<br>
				完全個室の癒しの空間で、セラピストの笑顔を心ゆくまでお楽しみください。<br>
				<br>
				ご来店の際は、JR五反田駅西口右手、国通沿いのコンビニ付近よりお電話ください。皆さまのご来店をスタッフ一同、心よりお待ちしております。
			</p>

			<!-- 店舗詳細 -->
			<table class="table_01 text_box">
				<tr>
					<th width="20%">住所</th>
					<td><!--{$smarty.const.SHOP_AREA}--></td>
				</tr>
				<tr>
					<th>営業時間（受付時間）</th>
					<td><!--{$smarty.const.SHOP_OPEN}-->&nbsp;（受付 <!--{$smarty.const.SHOP_RECEPTION}-->）</td>
				</tr>
				<tr>
					<th>電話番号</th>
					<td><a href="tel:<!--{$smarty.const.SHOP_TEL}-->">TEL：<!--{$smarty.const.SHOP_TEL}--></a></td>
				</tr>
			</table>
			<!-- //店舗詳細 -->

			<iframe src="https://mapsengine.google.com/map/embed?mid=zimenbLUbtv0.kVFsJu9NhFA8" width="100%" height="400"></iframe>
			<p class="mb_10"><a href="https://mapsengine.google.com/map/edit?authuser=0&amp;hl=ja&amp;mid=zimenbLUbtv0.kVFsJu9NhFA8" class="atten_02">大きい地図で確認</a></p>
			<ol class="list_box">
				<li>
					<p>1.4番出口を出たら左にお進みください。</p>
					<img src="<!--{$smarty.const.IMAGES_URL}-->/pic_access_01.png" width="440" alt="マップ画像1">
				</li>
				<li>
					<p>2.写真の看板が見えましたら、その道をお進みください。</p>
					<img src="<!--{$smarty.const.IMAGES_URL}-->/pic_access_02.png" width="440" alt="マップ画像2">
				</li>
				<li>
					<p>3.正面にコンビニが見えますので、右手にお進みください。</p>
					<img src="<!--{$smarty.const.IMAGES_URL}-->/pic_access_03.png" width="440" alt="マップ画像3">
				</li>
				<li>
					<p>4.こちらに到着いたしましたら、お店までお電話ください。</p>
					<img src="<!--{$smarty.const.IMAGES_URL}-->/pic_access_04.png" width="440" alt="マップ画像4">
				</li>
			</ol>
		</section>
<!--{/block}-->
