<!--{extends file="./common/frame.html"}-->
<!--{block name="main"}-->
		<section id="contents_card">
			<h2 class="title"><!--{$page.name}--></h2>
			<p class="pagetext_box">
				当店は『あなたを癒す心からの施述』がコンセプトの、完全予約制プライベートサロンです。<br>
				JR五反田駅西口より徒歩4分のオフィスストリートにて、厳選されたセラピストによる心からのおもてなしと至福のひとときをご提供いたします。<br>
				完全個室の癒しの空間で、セラピストの笑顔を心ゆくまでお楽しみください。<br>
				<br>
				ご来店の際は、JR五反田駅西口右手、国通沿いのコンビニ付近よりお電話ください。皆さまのご来店をスタッフ一同、心よりお待ちしております。
			</p>

			<ol class="list_box">
				<li>
					<p>1.お客様のご利用は<!--{SHOP_NAME}-->です。</p>
					<p>※ご利用店舗をご確認ください。</p>
				</li>
				<li>
					<p>2.当店（<!--{SHOP_NAME}-->）にお電話頂き、ご予約及びご利用金額ご確認下さい。</p>
					<p>
						※必ずご予約を先にしてご利用金額をご確認下さい。<br>
						※カード手数料はご利用額の15%になります。<br>
						※お支払いは１回のみとなります。<br>
						※サービス開始後のオプションの追加、延長等は現金でお願いします。
					</p>
				</li>
				<li>
					<p>3.予約完了後、お客様ご自身でクレジット情報をご入力下さい。</p>
					<p>※必ずご本人様カードで決済をお願い致します。場合によっては身分証明書の提示が必要となります。</p>
				</li>
				<li>
					<p>4.有効期限が有効なVISA・MASTER・JCB・AMEXのマークが付いたクレジットカードであるかご確認下さい。</p>
					<p>※カードの種類、有効期限をご確認下さい。</p>
				</li>
				<li>
					<p>5.必ず予約された電話番号をカード決済時に入力して下さい。</p>
					<p>※カード決済時には電話番号が必要です。</p>
				</li>
				<li>
					<p>6.申込み完了後、       にお電話して本人認証を行ってください。</p>
					<p>※本人認証が完了致しませんと、決済処理は完了されません。</p>
				</li>
			</ol>
			<section>
				<h3><img src="<!--{$smarty.const.IMAGES_URL}-->/subtitle_card_01.png" alt="注意事項"></h3>
				<p class="txt_box_02">
					カード会社からの請求名は店舗名ではなく「STAR-PAY」と表記されます。<br>
					カード手数料はご利用額の15%になります。<br>
					お支払い回数は一回のみとなります。 <br>
					決済通貨は安心安全の円建て決済となりますので、為替リスクなどは一切ございません。<br>
					STAR-PAYのネットで簡単決済システムはお客様に直接カード情報をご入力頂きますので個人情報保護に繋がります。 <br>
					不正カード防止システムが導入されている為、不正カード発覚時は警察に通報させて頂きます。<br>
					海外発行カードについてはご利用いただけません。
				</p>
			</section>
		</section>
<!--{/block}-->
