<!--{extends file="./common/frame.html"}-->
<!--{block name="main"}-->



<!-- 404エラー -->
<section id="section_err" class="mb_20">
	<h2 id="err_title">404&nbsp;&nbsp;file&nbsp;not&nbsp;found</h2>
	<p id="err_subtitle">お探しのページは見つかりません。</p>
	<p class="mb_20">いつも<!--{$smarty.const.SHOP_NAME}-->をご利用いただきありがとうございます。大変申し訳ございませんが、あなたがアクセスしようとしたページは削除されたかURLが間違っています。お手数お掛けしますがもう一度目的のページをお探し下さい。</p>
	<p id="err_toplink">
		<a href="<!--{$smarty.const.ROOT_URL}-->">トップページへ戻る</a>
		</p>

	</section>
<!-- //404エラー -->



<!--{/block}-->
