<!--{extends file="./common/frame.html"}-->
<!--{block name="main"}-->
<section id="contents_event">
	<h2 class="title"><!--{$page.name}--></h2>
	<div class="inner">
		<!--{if $event_img != ''}-->
		<ul>
			<!--{foreach $event_img as $v}-->
			<li class="mb_10"><img src="<!--{$smarty.const.IMG_EVENT_URL}-->/<!--{$v.file_name}-->" alt="event" width="<!--{$smarty.const.IMAGE_SIZE_EVENT_PC_W}-->" height="<!--{$smarty.const.IMAGE_SIZE_EVENT_PC_H}-->"></li>
			<!--{/foreach}-->
		</ul>
		<!--{/if}-->
	</div>
</section>
<!--{/block}-->
