<!--{extends file="./common/frame.html"}-->
<!--{block name="main"}-->
<!-- カバーガール -->
<section id="section_covergirl">
	<h2 class="title">Pickup Girl</h2>
	<ul class="cast_box">
		<!--{foreach $covergirl as $v}-->
		<li>
			<a href="<!--{$smarty.const.ROOT_URL}-->/profile.php?sid=<!--{$v.id}-->">
				<p class="img_box"><!--{include file="./common/staff/thumbnail.html"}--></p>
				<div class="txt_box">
					<p class="icon"><!--{include file="./common/staff/icon_check.html"}--></p>
					<p class="name"><!--{$v.name}-->(<!--{$v.age}-->)&nbsp;<!--{include file="./common/staff/icon_new.html"}--><!--{include file="./common/staff/icon_class.html"}--></p>
					<p class="size"><!--{include file="./common/staff/size.html"}--></p>
				</div>
				<span class="frame"><img src="<!--{$smarty.const.IMAGES_URL}-->/vis_castframe_02.png" width="200" alt=""></span>
			</a>
		</li>
		<!--{foreachelse}-->
		<!--{/foreach}-->
	</ul>
</section>
<!-- //カバーガール -->


	<!-- コンセプトバナー -->
	<section id="section_concept" class="mb_20">
		<h2 class="title">コンセプト</h2>
		<ul>
			<li><img src="<!--{$smarty.const.IMAGES_URL}-->/img_concept_01.png" alt=""></li>
			<!-- <li><img src="<!--{$smarty.const.IMAGES_URL}-->/img_concept_02.png" alt=""></li>
			<li><img src="<!--{$smarty.const.IMAGES_URL}-->/img_concept_03.png" alt=""></li> -->
		</ul>
	</section>
	<!-- //コンセプトバナー -->

	<!-- 新人情報 -->
	<section id="section_newface">
		<h2 class="title">新人情報</h2>
		<ul class="cast_box">
			<!--{foreach $newface as $v}-->
			<li>
				<a href="<!--{$smarty.const.ROOT_URL}-->/profile.php?sid=<!--{$v.id}-->">
					<p class="img_box"><!--{include file="./common/staff/thumbnail.html"}--></p>
					<div class="txt_box">
						<p class="icon"><!--{include file="./common/staff/icon_check.html"}--></p>
						<p class="name"><!--{$v.name}-->(<!--{$v.age}-->)&nbsp;<img src="<!--{$smarty.const.IMAGES_URL}-->/icon_new.png" alt="新人"><!--{include file="./common/staff/icon_class.html"}--></p>
						<p class="size"><!--{include file="./common/staff/size.html"}--></p>
						<p class="time"><!--{$v.published|date_format:'%Y-%m-%d'}-->&nbsp;入店</p>
					</div>
					<span class="frame"><img src="<!--{$smarty.const.IMAGES_URL}-->/vis_castframe_02.png" width="200" alt=""></span>
				</a>
			</li>
			<!--{/foreach}-->
		</ul>
	</section>
	<!-- //新人情報 -->

	<!-- 新人情報ver02 -->
		<!--{*<section id="section_newface02">
			<h2 class="title">新人情報</h2>
				<ul>
					<!--{foreach $newface as $v}-->
					<li>
						<a href="<!--{$smarty.const.ROOT_URL}-->/profile.php?sid=<!--{$v.id}-->">
							<div class="photo">
								<p class="img_box"><!--{include file="./common/staff/thumbnail.html" width="90" height="135"}--></p>
								<span class="frame"><img src="<!--{$smarty.const.IMAGES_URL}-->/vis_castframe_01.png" width="90" alt=""></span>
							</div>
							<div>
								<p class="name"><!--{$v.name}-->(<!--{$v.age}-->)&nbsp;<!--{include file="./common/staff/icon_new.html"}--></p>
								<p class="size"><!--{include file="./common/staff/size.html"}--></p>
								<p class="time">
									入店日&nbsp;
									<!--{$v.published|date_format:'%Y-%m-%d'}--></p>
									<!--{if $v.long_comment1 != ''}-->
									<p class="textCut"><!--{$v.long_comment1|nl2br}--></p>
									<!--{/if}-->
								</div>
							</a>
						</li>
						<!--{/foreach}-->
					</ul>
				</section> *}-->
				<!-- //新人情報ver02 -->

				<!-- ブログ -->
				<section id="blog">
					<h2 class="title">ブログ</h2>
						<div id="blog" class="swiper-container" style="background-color: #000;">
							<ul class="swiper-wrapper">
								<!--{foreach $blog_list as $blog}-->				
								<li class="swiper-slide">
									<a href="<!--{$blog.blog_url}-->" target="_blank">
									<p class="info_title"><!--{$blog.title}--></p>

									<p class="img">
									<!--{if $blog.image != ''}-->
									<img src="<!--{$blog.image}-->" width="100" height="100">
									<!--{else}-->
									noimage</p>

									<!--{/if}-->
									<p class="time"><!--{$blog.date_time}--></p>
									<p class="comment"><!--{$blog.description|mb_truncate:80}--></p>
									</a>
								</li>
								<!--{/foreach}-->
							</ul>
						</div>
				</section>
				<!-- //ブログ -->

				<!-- イベントバナー -->
				<section id="section_event" class="mb_20">
					<h2 class="title">イベント</h2>
					<ul>
						<li><img src="<!--{$smarty.const.IMAGES_URL}-->/img_event_01.png" alt=""></li>
						<!-- <li><img src="<!--{$smarty.const.IMAGES_URL}-->/img_event_02.png" alt=""></li>
						<li><img src="<!--{$smarty.const.IMAGES_URL}-->/img_event_03.png" alt=""></li> -->
					</ul>
				</section>
				<!-- //イベントバナー -->

				<!-- 新着情報 -->
				<section id="section_topics" class="mb_20">
					<h2 class="title">新着情報</h2>
					<div id="info_box">
						<!--{foreach $topics as $v}-->
						<article>
							<h3><!--{$v.title}--></h3>
							<time datetime="<!--{$v.published|date_format:'%Y-%m-%dT%H:%M'}-->"><!--{$v.published|date_format:'%Y-%m-%d %H:%M'}--></time>
							<p>
								<!--{$v.detail}-->
							</p>
						</article>
						<!--{/foreach}-->
						<p>
							<!--{if $page_info.prev.url != ''}--><a href="<!--{$page_info.prev.url}-->#section_topics" class="link_act_01"><img src="<!--{$smarty.const.IMAGES_URL}-->/btn_back.png" alt="戻る"></a><!--{/if}-->
							<!--{if $page_info.next.url != ''}--><a href="<!--{$page_info.next.url}-->#section_topics" class="link_act_01"><img src="<!--{$smarty.const.IMAGES_URL}-->/btn_next.png" alt="進む"></a><!--{/if}-->
						</p>
					</div>
				</section>
				<!-- //新着情報 -->

				<!-- ランキング1 -->
				<section id="section_top_ranking_01">
					<h2 class="title"><!--{$form.ranking.1}--></h2>
					<ul class="cast_box">
						<!--{foreach $ranking.1 as $v}-->
						<li>
							<a href="<!--{$smarty.const.ROOT_URL}-->/profile.php?sid=<!--{$v.id}-->">
								<p class="img_box"><!--{include file="./common/staff/thumbnail.html"}--></p>
								<div class="txt_box">
									<p class="icon"><!--{include file="./common/staff/icon_check.html"}--></p>
									<p class="name"><!--{$v.name}-->(<!--{$v.age}-->歳)&nbsp;<!--{include file="./common/staff/icon_new.html"}--><!--{include file="./common/staff/icon_class.html"}--></p>
									<p class="size"><!--{include file="./common/staff/size.html"}--></p>
									<p class="comment"><!--{$v.free_text}--></p>
								</div>
								<span class="frame"><img src="<!--{$smarty.const.IMAGES_URL}-->/vis_castframe_01.png" width="200" alt=""></span>
								<span class="icon_ranking"><img src="<!--{$smarty.const.IMAGES_URL}-->/icon_ranking_0<!--{$v.no}-->.png" width="100" alt=""></span>
							</a>
						</li>
						<!--{/foreach}-->
					</ul>
				</section>
				<!-- //ランキング1 -->

				<!-- ランキング2 -->
				<section id="section_top_ranking_02">
					<h2 class="title"><!--{$form.ranking.2}--></h2>
					<ul class="cast_box">
						<!--{foreach $ranking.2 as $v}-->
						<li>
							<a href="<!--{$smarty.const.ROOT_URL}-->/profile.php?sid=<!--{$v.id}-->">
								<p class="img_box"><!--{include file="./common/staff/thumbnail.html"}--></p>
								<div class="txt_box">
									<p class="icon"><!--{include file="./common/staff/icon_check.html"}--></p>
									<p class="name"><!--{$v.name}-->(<!--{$v.age}-->歳)&nbsp;<!--{include file="./common/staff/icon_new.html"}--><!--{include file="./common/staff/icon_class.html"}--></p>
									<p class="size"><!--{include file="./common/staff/size.html"}--></p>
									<p class="comment"><!--{$v.free_text}--></p>
								</div>
								<span class="frame"><img src="<!--{$smarty.const.IMAGES_URL}-->/vis_castframe_01.png" width="300" alt=""></span>
								<span class="icon_ranking"><img src="<!--{$smarty.const.IMAGES_URL}-->/icon_ranking_0<!--{$v.no}-->.png" width="100" alt=""></span>
							</a>
						</li>
						<!--{/foreach}-->
					</ul>
				</section>
				<!-- //ランキング2 -->

				<!-- 本日の出勤情報 -->
				<section id="section_schedule_today" class="mb_20">
					<h2 class="title">本日の出勤情報</h2>
					<ul class="cast_box">
						<!--{foreach $schedule as $v}-->
						<li>
							<a href="<!--{$smarty.const.ROOT_URL}-->/profile.php?sid=<!--{$v.id}-->">
								<p class="img_box"><!--{include file="./common/staff/thumbnail.html"}--></p>
								<div class="txt_box">
									<p class="icon"><!--{include file="./common/staff/icon_check.html"}--></p>
									<p class="name"><!--{$v.name}-->(<!--{$v.age}-->歳)&nbsp;<!--{include file="./common/staff/icon_new.html"}--><!--{include file="./common/staff/icon_class.html"}--></p>
									<p class="size mb_10"><!--{include file="./common/staff/size.html"}--></p>
									<p class="time"><!--{$v.schedule.time}-->&nbsp;<!--{include file="./common/staff/work_info.html"}--></p>
								</div>
								<span class="frame"><img src="<!--{$smarty.const.IMAGES_URL}-->/vis_castframe_02.png" width="200" alt=""></span>
							</a>
						</li>
						<!--{/foreach}-->
					</ul>
				</section>
				<!-- //本日の出勤情報 -->
				<!-- 本日の出勤情報ver02 -->
				<section id="section_schedule_today_02" class="mb_20">
					<h2 class="title">本日の出勤情報</h2>
					<ul class="cast_box">
						<!--{foreach $schedule as $v}-->
						<li>
							<a href="<!--{$smarty.const.ROOT_URL}-->/profile.php?sid=<!--{$v.id}-->">
								<p class="img_box"><!--{include file="./common/staff/thumbnail.html"}--></p>
								<div class="txt_box">
									<p class="icon"><!--{include file="./common/staff/icon_check.html"}--></p>
									<p class="name"><!--{$v.name}-->(<!--{$v.age}-->歳)&nbsp;<!--{include file="./common/staff/icon_new.html"}--><!--{include file="./common/staff/icon_class.html"}--></p>
									<p class="size mb_10"><!--{include file="./common/staff/size.html"}--></p>
									<p class="time"><!--{$v.schedule.time}-->&nbsp;<!--{include file="./common/staff/work_info.html"}--></p>
								</div>
								<span class="frame"><img src="<!--{$smarty.const.IMAGES_URL}-->/vis_castframe_02.png" width="170" alt=""></span>
							</a>
						</li>
						<!--{/foreach}-->
					</ul>
				</section>
				<!-- //本日の出勤情報ver02 -->
				<!-- 本日の出勤情報ver03 -->
				<section id="section_schedule_today_03" class="mb_20">
					<h2 class="title">本日の出勤情報</h2>
					<ul>
						<!--{foreach $schedule as $v}-->
						<li>
							<a href="<!--{$smarty.const.ROOT_URL}-->/profile.php?sid=<!--{$v.id}-->">
								<div>
									<p class="img_box"><!--{include file="./common/staff/thumbnail.html"}--></p>
									<span class="frame"><img src="<!--{$smarty.const.IMAGES_URL}-->/vis_castframe_01.png" width="90" alt=""></span>
								</div>
								<div>
									<p class="name"><!--{$v.name}-->(<!--{$v.age}-->歳)&nbsp;<!--{include file="./common/staff/icon_new.html" width="30" height="30" }-->
									</p>
									<p class="size"><!--{include file="./common/staff/size.html"}--></p>
									<p class="time"><!--{$v.schedule.time}-->&nbsp;<!--{include file="./common/staff/work_info.html"}--></p>
									<p class="icon"><!--{include file="./common/staff/icon_check.html"}--></p>
								</div>
							</a>
						</li>
						<!--{/foreach}-->
					</ul>
				</section>
				<!-- //本日の出勤情報ver03 -->
				<!--{/block}-->
