<!--{extends file="./common/frame.html"}-->
<!--{block name="main"}-->
		<section id="contents_info">
			<h2 class="title"><!--{$page.name}--></h2>
			<p class="pagetext_box">
				当店は『あなたを癒す心からの施述』がコンセプトの、完全予約制プライベートサロンです。<br>
				JR五反田駅西口より徒歩4分のオフィスストリートにて、厳選されたセラピストによる心からのおもてなしと至福のひとときをご提供いたします。<br>
				完全個室の癒しの空間で、セラピストの笑顔を心ゆくまでお楽しみください。<br>
				<br>
				ご来店の際は、JR五反田駅西口右手、国通沿いのコンビニ付近よりお電話ください。皆さまのご来店をスタッフ一同、心よりお待ちしております。
			</p>
			<ul class="list_box">
				<li>
					<h3><span>1.</span>&nbsp;&nbsp;まずはご予約をお願いします。</h3>
					<p>
						まずはお電話、もしくはご予約フォームよりご予約ください。<br>
						その際に、ご利用コース・ご指名・チェックイン予定のホテルorレンタルルームをお伝え下さい。
					</p>
				</li>
				<li>
					<h3><span>2.</span>&nbsp;&nbsp;お部屋番号のご確認をします。</h3>
					<p>
						お部屋番号のご確認をお願いいたします。<br>
						ご自宅でのサービスをご希望のお客様は、ご住所をお伝えください。
					</p>
				</li>
				<li>
					<h3><span>3.</span>&nbsp;&nbsp;ついに女の子が到着します！</h3>
					<p>
						笑顔の素敵なとびっきりのエロ娘がお伺いいたします♡<br>
						まずはそのまぶしさに癒されてください。
					</p>
				</li>
				<li>
					<h3><span>4.</span>&nbsp;&nbsp;お先にお支払いを！</h3>
					<p>
						ご利用コース・コース料金・交通費などに間違いがないかをご確認の上、お支払いをお願いいたします。
					</p>
				</li>
				<li>
					<h3><span>5.</span>&nbsp;&nbsp;イチャイチャスタート！</h3>
						洋服の脱がせっこをしつつ、まずは混浴シャワーからスタートです。<br>
						そのあとは…最後までたっぷりとお楽しみください♪
					</p>
				</li>
			</ul>
		</section>
<!--{/block}-->
