<!--{extends file="./common/frame.html"}-->
<!--{block name="main"}-->

        <section id="contents_link">
            <h2 class="title"><!--{$page.name}--></h2>
            <p class="pagetext_box">
                当店は『あなたを癒す心からの施述』がコンセプトの、完全予約制プライベートサロンです。<br>
                JR五反田駅西口より徒歩4分のオフィスストリートにて、厳選されたセラピストによる心からのおもてなしと至福のひとときをご提供いたします。<br>
                完全個室の癒しの空間で、セラピストの笑顔を心ゆくまでお楽しみください。<br>
                <br>
                ご来店の際は、JR五反田駅西口右手、国通沿いのコンビニ付近よりお電話ください。皆さまのご来店をスタッフ一同、心よりお待ちしております。
            </p>
            <table class="table_01 text_box">
                <tr>
                    <th width="20%">サイト名</th>
                    <td>
                        <!--{$smarty.const.SHOP_NAME}-->
                    </td>
                </tr>
                <tr>
                    <th>リンク先</th>
                    <td><a href="<!--{$smarty.const.ROOT_URL}-->"><!--{$smarty.const.ROOT_URL}--></a></td>
                </tr>
                <tr>
                    <th>alt属性</th>
                    <td><!--{$smarty.const.SHOP_NAME}--></td>
                </tr>
                <tr>
                    <th>各種バナー</th>
                    <td>
                        <img src="<!--{$smarty.const.IMAGES_URL}-->/bnr_88_31.jpg" width="88" height="31" alt="<!--{$smarty.const.SHOP_NAME}-->"><br>
                        88*31(px)<br>
                        <img src="<!--{$smarty.const.IMAGES_URL}-->/bnr_160_45.jpg" width="160" height="45" alt="<!--{$smarty.const.SHOP_NAME}-->"><br>
                        160*45(px)<br>
                        <img src="<!--{$smarty.const.IMAGES_URL}-->/bnr_200_40.jpg" width="200" height="40" alt="<!--{$smarty.const.SHOP_NAME}-->"><br>
                        200*40(px)<br>
                        <img src="<!--{$smarty.const.IMAGES_URL}-->/bnr_468_60.jpg" width="468" height="60" alt="<!--{$smarty.const.SHOP_NAME}-->"><br>
                        468*60(px)<br>

                      </td>
                </tr>
            </table>
            <aside>
                <h2><img src="<!--{$smarty.const.IMAGES_URL}-->/subtitle_link_01.png" alt="相互リンク"></h2>
                <div class="mb_20">
                    <!--{if $free != ''}-->
                    <p><!--{$free.detail_pc}--></p>
                    <!--{/if}-->
                </div>
                <ul class="list_link_box">
                <!--{foreach $banner as $v}-->
                <li>
                    <a href="<!--{$v.url}-->" target="_blank">
                    <img src="<!--{$smarty.const.IMG_BANNER_URL}-->/<!--{$v.file_name}-->" alt="<!--{$v.title}-->" width="88" height="31">
                    <br />
                    <!--{$v.title}-->
                    </a>
                </li>
                <!--{/foreach}-->
                </ul>
            </aside>
        </section>
<!--{/block}-->
