<!--{extends file="./common/frame.html"}-->
<!--{block name="main"}-->

		<section id="contents_mailmagazine">
			<h2 class="title"><!--{$page.name}--></h2>
			<div class="pagetext_box">
				<p class="mb_10">
					登録無料で期間限定の割引情報や新人情報等、お得な情報を随時配信してます。<br/>
					登録をご希望の方は、「メルマガ登録」からメールを送信下さい。
				</p>


				<form action="<!--{$smarty.const.SHOP_URL}-->/mailer/reg.cgi" method="post">
					<input type="text" name="email">
					<input type="radio" name="reg" value="add" checked>登録
					<input type="radio" name="reg" value="del">削除
					<input type="submit" value="送信" name="submit">
					<input type="hidden" name="encode" value="文字コード">
				</form>
			</div>
		</section>


<!--{/block}-->
