<!--{extends file="./common/frame.html"}-->
<!--{block name="main"}-->
<!--{assign w $smarty.const.IMAGE_SIZE_PC_W}-->
<!--{assign h $smarty.const.IMAGE_SIZE_PC_H}-->

<style>
ul.timeline-head,ul.timeline{display:table;table-layout:fixed;width:100%;color: #ffffff;font-size: 0.5em;}
ul.timeline-head li,ul.timeline li{display:table-cell;text-align:center}
ul.timeline-head li:first-child{border-left:none}
ul.timeline li{text-indent:-600px;overflow:hidden;border-top:1px solid #CCC}
ul.timeline li:first-child{border-left:none}
ul.timeline li.ui-selected{background:#0092ef}
</style>

<section id="contents_profile">
	<h2 class="title"><!--{$page.name}--></h2>

	<!-- 右 -->
	<div class="profile_box_right">
		<h3 class="subtitle">プロフィール</h3>
		<div class="txt_box_03">
			<p class="name"><!--{$staff.name}-->(<!--{$staff.age}-->)&nbsp;<!--{if $staff.new_flg == $smarty.const.SET_ON}--><img src="<!--{$smarty.const.IMAGES_URL}-->/icon_new.gif" alt="new"><!--{/if}-->
			</p>
			<p class="size">
				<span class="atten_01">T</span><!--{$staff.t}-->&nbsp;<span class="atten_01">B</span><!--{$staff.b}-->(<!--{$staff.c}-->)&nbsp;<span class="atten_01">W</span><!--{$staff.w}-->&nbsp;<span class="atten_01">H</span><!--{$staff.h}-->
			</p>
			<audio src="http://kir211377.kir.jp/castsystem/voice/kanna.mp4" controls controlslist="nodownload"></audio>
			<p class="icon">
				<!--{foreach $staff.class as $class}-->
				<!--{if $class.image != ''}-->
				<img src="<!--{$smarty.const.IMAGES_URL}-->/<!--{$class.image}-->" alt="<!--{$class.value}-->">
				<!--{/if}-->
				<!--{/foreach}-->
			</p>
			<p class="icon">
				<!--{foreach $staff.check as $check}-->
				<img src="<!--{$smarty.const.IMAGES_URL}-->/<!--{$check.image}-->" alt="<!--{$check.name}-->">
				<!--{/foreach}-->
			</p>

			<!--{if $staff.url != ''}-->
			ブログ：<a href="<!--{$staff.url}-->" target="_blank"><!--{$staff.url nofilter}--></a>
			<!--{/if}-->
		</div>

		<!--{if $form.item.name.1 != ''}-->
		<h3 class="subtitle"><!--{$form.item.name.1}--></h3>
		<table class="table_01 text_box">
			<!--{foreach $staff.item.1 as $k => $v}-->
			<tr>
				<th width="30%"><!--{$v.name}--></th>
				<td><!--{$v.value|default:$smarty.const.DEFAULT_PROFILE}--></td>
			</tr>
			<!--{/foreach}-->
		</table>
		<!--{/if}-->

		<!--{if $form.item.name.2 != ''}-->
		<h3 class="subtitle"><!--{$form.item.name.2}--></h3>
		<div class="txt_box_03 profile_option_box">
			<div><span class="atten_01">■</span>プレイ可&nbsp;/&nbsp;<span class="">■</span>プレイ不可</div>
			<!--{foreach $staff.item.2 as $k => $v}-->
			<!--{if $v.value == "0"}-->
			<p class="can"><!--{$v.name}--></p>
			<!--{elseif $v.value == "1"}-->
			<p class="normal"><!--{$v.name}--></p>
			<!--{else}-->
			<p class="cant"><!--{$v.name}--></p>
			<!--{/if}-->
			<!--{/foreach}-->
		</div>
		<!--{/if}-->

		<!--{if $staff.movie != '' && $staff.movie.movie_file_name != ''}-->
		<h3 class="subtitle">動画</h3>
		<div class="mb_10"><div id="movie"></div></div>
		<script src="<!--{$smarty.const.ROOT_URL}-->/js/jwplayer/jwplayer.js"></script>
		<script>
			<!--{if $staff.movie != '' && $staff.movie.movie_file_name != ''}-->
			movie_write("<!--{$staff.movie.file_name}-->","<!--{$staff.movie.movie_file_name}-->");
			<!--{/if}-->
			function movie_write(thumb_name,movie_name){
				jwplayer("movie").setup({
					flashplayer: "<!--{$smarty.const.ROOT_URL}-->/js/jwplayer/player.swf",
					file: "<!--{$smarty.const.IMG_STAFF_URL}-->/<!--{$staff.id}-->/"+movie_name,
					image: "<!--{$smarty.const.IMG_STAFF_URL}-->/<!--{$staff.id}-->/"+thumb_name,
					width: "<!--{$smarty.const.IMAGE_MOVIE_SIZE_W}-->",
					height: "<!--{$smarty.const.IMAGE_MOVIE_SIZE_H}-->",
					controls: true,
					mute: true,
					autostart: false
				});
			}
		</script>
		<!--{/if}-->

		<!--{if $staff.long_comment1 != ''}-->
		<h3 class="subtitle">コメント１</h3>
		<div class="txt_box_03">
			<!--{$staff.long_comment1|nl2br}-->
		</div>
		<!--{/if}-->

		<!--{if $staff.long_comment2 != ''}-->
		<h3 class="subtitle">コメント２</h3>
		<div class="txt_box_03">
			<!--{$staff.long_comment2|nl2br}-->
		</div>
		<!--{/if}-->

		<!--{if $staff.youtube != ''}-->
		<h3 class="subtitle">youtube動画</h3>
		<iframe width="<!--{$smarty.const.YOUTUBE_PC_SIZE_W}-->" height="<!--{$smarty.const.YOUTUBE_PC_SIZE_H}-->" src="https://www.youtube.com/embed/<!--{$staff.youtube}-->" frameborder="0" allowfullscreen></iframe>
		<!--{/if}-->

	</div>
	<!-- //右 -->

	<!-- 左 -->
	<div class="profile_box_left">
		<!--{assign index IMAGE_DETAIL_COUNT-1}-->
		<div class="img_box">
			<!--{if $staff.photo.$index != ''}-->
			<img src="<!--{$smarty.const.IMG_STAFF_URL}-->/<!--{$staff.id}-->/<!--{$staff.photo.$index}-->" alt="<!--{$staff.name}-->"  name="photo" >
			<!--{else}-->
			<img src="<!--{$smarty.const.IMAGES_URL}-->/no_image.jpg" alt="ノーイメージ"  name="photo" >
			<!--{/if}-->
			<span class="frame"><img src="<!--{$smarty.const.IMAGES_URL}-->/vis_castframe_02.png" width="300" alt=""></span>
		</div>
		<!--{section name=photo start=IMAGE_DETAIL_COUNT-1 loop=IMAGE_COUNT step=1}-->
		<!--{assign index $smarty.section.photo.index}-->
		<!--{if $staff.photo.$index != ''}-->
		<a href="javascript:" onmouseover="look('<!--{$smarty.const.IMG_STAFF_URL}-->/<!--{$staff.id}-->/<!--{$staff.photo.$index}-->');">
			<img src="<!--{$smarty.const.IMG_STAFF_URL}-->/<!--{$staff.id}-->/<!--{$staff.photo.$index}-->" width="60" height="90" alt="<!--{$staff.name}--><!--{$index+1}-->" class="cast_thumb">
		</a>
		<!--{else}-->
		<a href="javascript:" onmouseover="look('<!--{$smarty.const.IMAGES_URL}-->/no_image.jpg');">
			<img src="<!--{$smarty.const.IMAGES_URL}-->/no_image.jpg" width="60" height="90" alt="ノーイメージ" class="cast_thumb">
		</a>
		<!--{/if}-->
		<!--{/section}-->

		<script language="JavaScript" type="text/javascript">
			function look(image){
				document.photo.src=image;
			}
		</script>
	</div>
	<!-- //左 -->
</section>

<section class="profile_box_schedule">
	<h3 class="subtitle">出勤タイムライン</h3>

	<ul class="timeline-head">
		<!--{foreach $form.hour as $key => $value}-->
		<!--{if $key < 24}-->
		<!--{assign time $key}-->
		<!--{else}-->
		<!--{assign time $key-24}-->
		<!--{/if}-->

		<li class="endH"><!--{$time}-->時</li>
		<li></li>

		<!--{/foreach}-->
	</ul>

	<ul class="timeline">
		<!--{assign index 0}-->
		<!--{assign sta $staff.schedule.0.range.sta}-->
		<!--{assign end $staff.schedule.0.range.end}-->
		<!--{foreach $form.hour as $key => $value}-->
		<li class="endH <!--{if $sta<=$index && $end>$index}-->ui-selected<!--{/if}-->"><!--{$index}--></li>
		<li class="<!--{if $sta<=$index+1 && $end>$index+1}-->ui-selected<!--{/if}-->"><!--{$index+1}--></li>
		<!--{assign index $index+2}-->
		<!--{/foreach}-->
	</ul>
</section>

<section class="profile_box_schedule">
	<h3 class="subtitle">出勤スケジュール</h3>
	<table class="table_02">
		<tr>
			<!--{foreach $week as $k => $v}-->
			<th>
				<!--{if $v|day_of_week == '土'}-->
				<span class="atten_03"><!--{$v|substr:4:2}-->月<!--{$v|substr:6:2}-->日(<!--{$v|day_of_week}-->)</span>
				<!--{elseif $v|day_of_week == '日'}-->
				<span class="atten_04"><!--{$v|substr:4:2}-->月<!--{$v|substr:6:2}-->日(<!--{$v|day_of_week}-->)</span>
				<!--{else}-->
				<!--{$v|substr:4:2}-->月<!--{$v|substr:6:2}-->日(<!--{$v|day_of_week}-->)
				<!--{/if}-->
			</th>
			<!--{/foreach}-->
		</tr>
		<tr>
			<!--{foreach $staff.schedule as $k => $v}-->
			<td><!--{$v.time}--></td>
			<!--{/foreach}-->
		</tr>
	</table>
</section>

<!--{if $imp}-->
<section class="impressions_box">
	<div class="inner">
		<h3 class="subtitle mb_10">感想一覧</h3>
		<ul class="impressions_inner">
			<!--{foreach $imp as $v}-->
			<li class="impressions_list">
				<ul class="record fa-ul">
					<li><i class="fa fa-lg fa-fw fa-user "></i>お名前：<!--{$v.name}--></li>
					<li><i class="fa fa-lg fa-fw fa-search-plus "></i>年代：<!--{$v.age}--></li>
					<li><i class="fa fa-lg fa-fw fa-pencil-square-o "></i>ご利用回数：<!--{$v.use_count}--></li>
					<li><i class="fa fa-lg fa-fw fa-calendar "></i>ご利用日：<!--{$v.use_year}-->年<!--{$v.use_month}-->月<!--{$v.use_month}-->日</li>
				</ul>

				<ul class="evaluation">
					<li>マッサージ<br><span class="atten_01"><!--{if $v.massage == '非常に良い'}-->★★★★★<!--{/if}--><!--{if $v.massage == '良い'}-->★★★★<!--{/if}--><!--{if $v.massage == '普通'}-->★★★<!--{/if}--><!--{if $v.massage == '良くない'}-->★★<!--{/if}--><!--{if $v.massage == '悪い'}-->★<!--{/if}--></span></li>
					<li>回春<br><span class="atten_01"><!--{if $v.kaishun == '非常に良い'}-->★★★★★<!--{/if}--><!--{if $v.kaishun == '良い'}-->★★★★<!--{/if}--><!--{if $v.kaishun == '普通'}-->★★★<!--{/if}--><!--{if $v.kaishun == '良くない'}-->★★<!--{/if}--><!--{if $v.kaishun == '悪い'}-->★<!--{/if}--></span></li>
					<li>接客<br><span class="atten_01"><!--{if $v.service == '非常に良い'}-->★★★★★<!--{/if}--><!--{if $v.service == '良い'}-->★★★★<!--{/if}--><!--{if $v.service == '普通'}-->★★★<!--{/if}--><!--{if $v.service == '良くない'}-->★★<!--{/if}--><!--{if $v.service == '悪い'}-->★<!--{/if}--></span></li>
					<li>総合満足度<br><span class="atten_01"><!--{if $v.total == '非常に良い'}-->★★★★★<!--{/if}--><!--{if $v.total == '良い'}-->★★★★<!--{/if}--><!--{if $v.total == '普通'}-->★★★<!--{/if}--><!--{if $v.total == '良くない'}-->★★<!--{/if}--><!--{if $v.total == '悪い'}-->★<!--{/if}--></span></li><br />
				</ul>
				<div class="txt">
					<p>
						<span><!--{$smarty.const.STAFF_CALL}-->へのメッセージ：</span>
						<!--{$v.comment|nl2br}-->
					</p>
				</div>
			</li>
			<!--{/foreach}-->
		</ul>
		<!--{if $page_info.prev.url != ''}--><a href="<!--{$page_info.prev.url}-->#impressions_inner" class="link_act_01">←&nbsp;戻る</a><!--{/if}-->
		<!--{if $page_info.next.url != ''}--><a href="<!--{$page_info.next.url}-->#impressions_inner" class="link_act_01">進む&nbsp;⇢</a><!--{/if}-->
	</div>
</section>
<!--{/if}-->
<!--{/block}-->
