<!--{extends file="./common/frame.html"}-->
<!--{block name="main"}-->
<section id="contents_schedule">
	<h2 class="title"><!--{$page.name}--></h2>
	<p class="pagetext_box">
		当店は『あなたを癒す心からの施述』がコンセプトの、完全予約制プライベートサロンです。<br>
		JR五反田駅西口より徒歩4分のオフィスストリートにて、厳選されたセラピストによる心からのおもてなしと至福のひとときをご提供いたします。<br>
		完全個室の癒しの空間で、セラピストの笑顔を心ゆくまでお楽しみください。<br>
		<br>
		ご来店の際は、JR五反田駅西口右手、国通沿いのコンビニ付近よりお電話ください。皆さまのご来店をスタッフ一同、心よりお待ちしております。
	</p>
	<ul class="schedule_box">
		<!--{foreach $staff as $k => $v}-->
		<li>
			<p class="img_box">
				<a href="<!--{$smarty.const.ROOT_URL}-->/profile.php?sid=<!--{$v.id}-->" class="link_act_01"><!--{include file="./common/staff/thumbnail.html"}-->
				</a>
			</p>
			<p class="name">
				<!--{$v.name}-->(<!--{$v.age}-->)&nbsp;<!--{include file="./common/staff/size.html"}-->
			</p>
			<table class="table_02">
				<tr>
					<!--{foreach $week as $w_k => $w_v}-->
					<th><!--{$w_v|substr:4:2}-->月<!--{$w_v|substr:6:2}-->日(<!--{$w_v|day_of_week}-->)</th>
					<!--{/foreach}-->
				</tr>
				<tr>
					<!--{if $v.rest_flg == $smarty.const.SET_ON}-->
					<!--{section name=foo start=0 loop=$smarty.const.DEFAULT_DISPLAY_DAYS_PC step=1}-->
					<td><!--{$form['allow_mode'][$smarty.const.SCH_TYPE_REST]}--></td>
					<!--{/section}-->
					<!--{else}-->
					<!--{foreach $v.schedule as $key => $value}-->
					<td><!--{$value.time|default}--></td>
					<!--{/foreach}-->
					<!--{/if}-->
				</tr>
			</table>
		</li>
		<!--{/foreach}-->
	</ul>

	<!--{* タイムラインver *}-->
	<ul class="schedule_box">
		<!--{foreach $staff as $k => $v}-->
		<li>
			<p class="img_box">
				<a href="<!--{$smarty.const.ROOT_URL}-->/profile.php?sid=<!--{$v.id}-->" class="link_act_01"><!--{include file="./common/staff/thumbnail.html"}-->
				</a>
			</p>
			<p class="name">
				<!--{$v.name}-->(<!--{$v.age}-->)&nbsp;<!--{include file="./common/staff/size.html"}-->
			</p>
			<table class="table_02">
				<tr>
					<!--{foreach $form.hour as $key => $value}-->
					<!--{if $key < 24}-->
					<!--{assign time $key}-->
					<!--{else}-->
					<!--{assign time $key-24}-->
					<!--{/if}-->
					<th colspan="2"><!--{$time}-->時</th>
					<!--{/foreach}-->
				</tr>
				<tr>
					<!--{assign index 0}-->
					<!--{assign sta $v.schedule.0.range.sta}-->
					<!--{assign end $v.schedule.0.range.end}-->
					<!--{foreach $form.hour as $key => $value}-->
					<!--{if $sta<=$index && $end>$index}--><td></td><!--{else}--><th></th><!--{/if}-->
					<!--{if $sta<=$index+1 && $end>$index+1}--><td></td><!--{else}--><th></th><!--{/if}-->
					<!--{assign index $index+2}-->
					<!--{/foreach}-->
				</tr>
			</table>
		</li>
		<!--{/foreach}-->
	</ul>
</section>
<!--{/block}-->
