<!--{extends file="./common/frame.html"}-->
<!--{block name="main"}-->

<section id="contents_schedule">
	<h2 class="title"><!--{$page.name}--></h2>
	<p class="pagetext_box">
		当店は『あなたを癒す心からの施述』がコンセプトの、完全予約制プライベートサロンです。<br>
		JR五反田駅西口より徒歩4分のオフィスストリートにて、厳選されたセラピストによる心からのおもてなしと至福のひとときをご提供いたします。<br>
		完全個室の癒しの空間で、セラピストの笑顔を心ゆくまでお楽しみください。<br>
		<br>
		ご来店の際は、JR五反田駅西口右手、国通沿いのコンビニ付近よりお電話ください。皆さまのご来店をスタッフ一同、心よりお待ちしております。
	</p>

	<ul class="schedule_nav">
		<!--{foreach $week as $k => $v}-->
		<li>
			<a href="<!--{$smarty.const.ROOT_URL}-->/schedule_week2.php?day=<!--{$k+1}-->#contents_schedule">
				<!--{if $v|day_of_week == '土'}-->
				<span class="atten_03"><!--{$v|substr:4:2}-->月<!--{$v|substr:6:2}-->日(<!--{$v|day_of_week}-->)</span>
				<!--{elseif $v|day_of_week == '日'}-->
				<span class="atten_04"><!--{$v|substr:4:2}-->月<!--{$v|substr:6:2}-->日(<!--{$v|day_of_week}-->)</span>
				<!--{else}-->
				<!--{$v|substr:4:2}-->月<!--{$v|substr:6:2}-->日(<!--{$v|day_of_week}-->)
				<!--{/if}-->
			</a>
		</li>
		<!--{/foreach}-->
	</ul>

	<!--{* タイムラインver *}-->
	<ul class="schedule_box">
		<!--{foreach $staff as $k => $v}-->
		<li>
			<p class="img_box">
				<a href="<!--{$smarty.const.ROOT_URL}-->/profile.php?sid=<!--{$v.id}-->" class="link_act_01"><!--{include file="./common/staff/thumbnail.html"}-->
				</a>
			</p>
			<p class="name">
				<!--{$v.name}-->(<!--{$v.age}-->)&nbsp;<!--{include file="./common/staff/size.html"}-->
				<span>
					<!--{if ($v.allow_mode == 0 || $v.allow_mode == 1) && $v.allow_mode != ''}-->
					<!--{$v.going}-->-<!--{$v.leave}-->
					<!--{else}-->
					TEL確認
					<!--{/if}-->
				</span>
			</p>

			<table class="table_02" style="table-layout: fixed;">
				<tr>
					<!--{section name="xxx" start=$v.going_sta loop=$v.leave_sta+1 step=1}-->
					<!--{assign index $smarty.section.xxx.index}-->
					<th colspan="6" class="text-center">
						<!--{if $index >= 24}-->
						<!--{$index-24}-->:00
						<!--{else}-->
						<!--{$index}-->:00
						<!--{/if}-->
						<!--{assign loop_cnt $smarty.section.xxx.iteration}-->
					</th>
					<!--{/section}-->
				</tr>

				<!--{assign val1 $v.going_end/10}-->
				<!--{assign val2 999}-->
				<!--{if $v.leave != LAST}-->
				<!--{assign val2 $loop_cnt*6+1 - $v.leave_end2/10}-->
				<!--{/if}-->
				<!--{assign loop_flg on}-->
				<!--{assign loop_count 0}-->
				<tr>
					<!--{section name="xxx" start=1 loop=$loop_cnt*6+1 step=1}-->
					<!--{assign index $smarty.section.xxx.index}-->
					<!--{if $loop_flg == 'on'}-->
					<!--{if $index == $reserve[$v.id][$loop_count]['sta']}-->
					<td align="center" style="background: blue;" colspan="<!--{$reserve[$v.id][$loop_count]['join']}-->">予約済み<br><!--{$reserve[$v.id][$loop_count]['time']}--></td>
					<!--{assign loop_flg off}-->
					<!--{else}-->
					<td align="center" <!--{if $index <= $val1 || $index >= $val2}-->style="background: red;"<!--{/if}-->></td>
					<!--{/if}-->
					<!--{if $index >= $reserve[$v.id][$loop_count]['end']}-->
					<!--{assign loop_flg on}-->
					<!--{assign loop_count $loop_count+1}-->
					<!--{/if}-->
					<!--{else}-->
					<!--{if $index >= $reserve[$v.id][$loop_count]['end']}-->
					<!--{assign loop_flg on}-->
					<!--{assign loop_count $loop_count+1}-->
					<!--{/if}-->
					<!--{/if}-->
					<!--{/section}-->
				</tr>
			</table>
		</li>
		<!--{/foreach}-->
	</ul>
</section>
<!--{/block}-->
