<!--{extends file="./common/frame.html"}-->
<!--{block name="main"}-->

<section id="contents_cast">
	<h2 class="title"><!--{$page.name}--></h2>
	<p class="pagetext_box">
		当店は『あなたを癒す心からの施述』がコンセプトの、完全予約制プライベートサロンです。<br>
		JR五反田駅西口より徒歩4分のオフィスストリートにて、厳選されたセラピストによる心からのおもてなしと至福のひとときをご提供いたします。<br>
		完全個室の癒しの空間で、セラピストの笑顔を心ゆくまでお楽しみください。<br>
		<br>
		ご来店の際は、JR五反田駅西口右手、国通沿いのコンビニ付近よりお電話ください。皆さまのご来店をスタッフ一同、心よりお待ちしております。
	</p>
	<ul class="cast_box">
		<!--{foreach $staff as $v}-->
		<li>
			<a href="<!--{$smarty.const.ROOT_URL}-->/profile.php?sid=<!--{$v.id}-->">
				<p class="img_box"><!--{include file="./common/staff/thumbnail.html"}--></p>
				<div class="txt_box">
					<p class="icon mb_10"><!--{include file="./common/staff/icon_check.html"}--></p>
					<p class="name"><!--{$v.name}-->(<!--{$v.age}-->)&nbsp;<!--{include file="./common/staff/icon_new.html"}--><!--{include file="./common/staff/icon_class.html"}--></p>
					<p class="size mb_10"><!--{include file="./common/staff/size.html"}--></p>
					<p class="time"><!--{$v.schedule.time}-->&nbsp;<!--{include file="./common/staff/work_info.html"}--></p>
				</div>
				<span class="frame"><img src="<!--{$smarty.const.IMAGES_URL}-->/vis_castframe_02.png" width="200" alt="frame"></span>
			</a>
		</li>
		<!--{/foreach}-->
	</ul>
</section>

<!-- cast ver02 -->
<section id="contents_cast_02">
	<h2 class="title"><!--{$page.name}--></h2>
	<p class="pagetext_box">
		当店は『あなたを癒す心からの施述』がコンセプトの、完全予約制プライベートサロンです。<br>
		JR五反田駅西口より徒歩4分のオフィスストリートにて、厳選されたセラピストによる心からのおもてなしと至福のひとときをご提供いたします。<br>
		完全個室の癒しの空間で、セラピストの笑顔を心ゆくまでお楽しみください。<br>
		<br>
		ご来店の際は、JR五反田駅西口右手、国通沿いのコンビニ付近よりお電話ください。皆さまのご来店をスタッフ一同、心よりお待ちしております。
	</p>
	<ul class="cast_box">
		<!--{foreach $staff as $v}-->
		<li>
			<a href="<!--{$smarty.const.ROOT_URL}-->/profile.php?sid=<!--{$v.id}-->">
				<p class="img_box"><!--{include file="./common/staff/thumbnail.html"}--></p>
				<div class="txt_box">
					<p class="icon mb_10"><!--{include file="./common/staff/icon_check.html"}--></p>
					<p class="name"><!--{$v.name}-->(<!--{$v.age}-->)&nbsp;<!--{include file="./common/staff/icon_new.html"}--><!--{include file="./common/staff/icon_class.html"}--></p>
					<p class="size mb_10"><!--{include file="./common/staff/size.html"}--></p>
					<p class="time"><!--{$v.schedule.time}-->&nbsp;<!--{include file="./common/staff/work_info.html"}--></p>
				</div>
				<span class="frame"><img src="<!--{$smarty.const.IMAGES_URL}-->/vis_castframe_02.png" width="180" alt="frame"></span>
			</a>
		</li>
		<!--{/foreach}-->
	</ul>
</section>
<!-- cast ver02 -->
<!--{if $page_info.prev.url != ''}--><a href="<!--{$page_info.prev.url}-->" class="link_act_01"><img src="<!--{$smarty.const.IMAGES_URL}-->/btn_back.png" alt="戻る"></a><!--{/if}-->
<!--{if $page_info.next.url != ''}--><a href="<!--{$page_info.next.url}-->" class="link_act_01"><img src="<!--{$smarty.const.IMAGES_URL}-->/btn_next.png" alt="進む"></a><!--{/if}-->

<!--{/block}-->
