<!--{extends file="./common/frame.html"}-->
<!--{block name="main"}-->
		<section id="contents_system">
			<h2 class="title"><!--{$page.name}--></h2>
			<p class="pagetext_box">
				当店は『あなたを癒す心からの施述』がコンセプトの、完全予約制プライベートサロンです。<br>
				JR五反田駅西口より徒歩4分のオフィスストリートにて、厳選されたセラピストによる心からのおもてなしと至福のひとときをご提供いたします。<br>
				完全個室の癒しの空間で、セラピストの笑顔を心ゆくまでお楽しみください。<br>
				<br>
				ご来店の際は、JR五反田駅西口右手、国通沿いのコンビニ付近よりお電話ください。皆さまのご来店をスタッフ一同、心よりお待ちしております。
			</p>

			<h3><img src="<!--{$smarty.const.IMAGES_URL}-->/subtitle_system_01.png" alt=""></h3>
			<p class="mb_10"><img src="<!--{$smarty.const.IMAGES_URL}-->/img_system_price_01.png" alt=""></p>
			<p class="mb_30"><img src="<!--{$smarty.const.IMAGES_URL}-->/img_system_price_02.png" alt=""></p>

			<h3><img src="<!--{$smarty.const.IMAGES_URL}-->/subtitle_system_02.png" alt=""></h3>
			<p class="mb_30"><img src="<!--{$smarty.const.IMAGES_URL}-->/img_system_option.png" alt=""></p>

			<h3><img src="<!--{$smarty.const.IMAGES_URL}-->/subtitle_system_03.png" alt=""></h3>
			<div class="txt_box_02">
				<p>
					下記プレイにつきましては当店ではご期待にお応え出来ませんので、そのようなプレイが可能な別の風俗店をご利用頂く事をお勧め致します。<br>
					・セラピストの嫌がる行為を強要する方
					・セラピストに乱暴な扱いや、怖がるような暴言を吐く方
					・暴力団関係者、又はそれに準ずる方
					・局部への指入れ
					・本番行為を強要される方
					・写真・動画の撮影・隠し撮り
					・店外デートの誘い・ストーカー・スカウト行為
					・泥酔者および薬物利用者の入店<br>
					尚、このようなプレイが発生した場合、もしくは強要があった場合、その他女の子の嫌がる行為をした場合、即プレイ中断しお部屋を退出させて頂きます。その際の返金・割引などの要求には一切応じませんのでご了承下さい。<br>
					今後の対応は、出入り禁止客と判断し今後のご利用を一切お断り致します。<br>
					その他不明な点が御座いましたら当店スタッフまでご相談下さい。当店をご利用の場合、上記内容に同意頂いたと判断致しますので必ずご一読ご協力お願致します。<br>
				</p>
			</div>
		</section>
<!--{/block}-->
