<!--{extends file="../common/frame.html"}-->
<!--{block name="main"}-->

<section id="contents_impressins">
	<h2 class="title">感想投票</h2>
	<div class="inner">
		<form method="post" action="?mode=finish">
			<table class="table_01 text_box">
				<tr>
					<th width="30%">お名前&nbsp;<span class="atten_01">※</span></th>
					<td>
						<!--{if $error.name != ''}--><span class="atten_01"><!--{$error.name}--></span><!--{else}--><!--{$posts.name}--><!--{/if}-->
					</td>
				</tr>
				<tr>
					<th width="20%">年代&nbsp;<span class="atten_01">※</span></th>
					<td>
						<!--{if $error.age != ''}--><span class="atten_01"><!--{$error.age}--></span><!--{else}--><!--{$posts.age}--><!--{/if}-->
					</td>
				</tr>
				<tr>
					<th width="20%">ご利用回数&nbsp;<span class="atten_01">※</span></th>
					<td>
						<!--{if $error.use_count != ''}--><span class="atten_01"><!--{$error.use_count}--></span><!--{else}--><!--{$posts.use_count}--><!--{/if}-->
					</td>
				</tr>
				<tr>
					<th width="20%">ご利用日&nbsp;<span class="atten_01">※</span></th>
					<td>
						<!--{$posts.use_year}-->年<!--{$posts.use_month}-->月<!--{$posts.use_day}-->日
					</td>
				</tr>
				<tr>
					<th width="20%">担当<!--{$smarty.const.STAFF_CALL}-->&nbsp;<span class="atten_01">※</span></th>
					<td>
						<!--{if $error.staff_id != ''}--><span class="atten_01"><!--{$error.staff_id}--></span><!--{else}--><!--{$staff_name}--><!--{/if}-->
					</td>
				</tr>
				<tr>
					<th width="20%">マッサージ&nbsp;<span class="atten_01">※</span></th>
					<td>
						<!--{if $error.massage != ''}--><span class="atten_01"><!--{$error.massage}--></span><!--{else}--><!--{$posts.massage}--><!--{/if}-->
					</td>
				</tr>
				<tr>
					<th width="20%">回春&nbsp;<span class="atten_01">※</span</th>
					<td>
						<!--{if $error.kaishun != ''}--><span class="atten_01"><!--{$error.kaishun}--></span><!--{else}--><!--{$posts.kaishun}--><!--{/if}-->
					</td>
				</tr>
				<tr>
					<th width="20%">接客&nbsp;<span class="atten_01">※</span></th>
					<td>
						<!--{if $error.service != ''}--><span class="atten_01"><!--{$error.service}--></span><!--{else}--><!--{$posts.service}--><!--{/if}-->
					</td>
				</tr>
				<tr>
					<th width="20%">総合満足度&nbsp;<span class="atten_01">※</span></th>
					<td>
						<!--{if $error.total != ''}--><span class="atten_01"><!--{$error.total}--></span><!--{else}--><!--{$posts.total}--><!--{/if}-->
					</td>
				</tr>
				<tr>
					<th width="20%"><!--{$smarty.const.STAFF_CALL}-->へのメッセージ</th>
					<td>
						<!--{$posts.comment|nl2br}-->
					</td>
				</tr>
			</table>

			<input type="hidden" name="name" value="<!--{$posts.name}-->">
			<input type="hidden" name="age" value="<!--{$posts.age}-->">
			<input type="hidden" name="use_count" value="<!--{$posts.use_count}-->">
			<input type="hidden" name="use_year" value="<!--{$posts.use_year}-->">
			<input type="hidden" name="use_month" value="<!--{$posts.use_month}-->">
			<input type="hidden" name="use_day" value="<!--{$posts.use_day}-->">
			<input type="hidden" name="staff_id" value="<!--{$posts.staff_id}-->">
			<input type="hidden" name="staff_name" value="<!--{$staff_name}-->">
			<input type="hidden" name="massage" value="<!--{$posts.massage}-->">
			<input type="hidden" name="kaishun" value="<!--{$posts.kaishun}-->">
			<input type="hidden" name="service" value="<!--{$posts.service}-->">
			<input type="hidden" name="total" value="<!--{$posts.total}-->">
			<input type="hidden" name="comment" value="<!--{$posts.comment}-->">
			<input type="hidden" name="<!--{$smarty.const.TOKEN_KEY}-->" value="<!--{$token}-->">

			<!--{if $error == ''}-->
			<input type="submit" name="send" value="送信" class="reset_btn btn_form" >
			<!--{/if}-->
			<input type="button" value="戻る" onclick="history.back();" class="reset_btn btn_form" >
		</form>
	</div>
</section>

<!--{/block}-->
