<!--{extends file="../common/frame.html"}-->
<!--{block name="main"}-->

<section id="contents_impressins">
	<h2 class="title">感想投票</h2>
	<div class="inner">
		<p style="font-size:17px; color:#988239;" class="mb_20">
			<!--{if $csrf == true}-->
			<!--{if $result == true}-->
			感想の送信が完了しました。
			<!--{else}-->
			感想の送信に失敗しました。
			<!--{/if}-->
			<!--{else}-->
			不正な送信が行われました為送信を中止しました。
			<!--{/if}-->
		</p>
		<input type="button" onclick="location.href='<!--{$smarty.const.ROOT_URL}-->/impressions.php'"value="感想トップへ" class="reset_btn btn_form link_act_01" >
	</div>
	</section>
	<!--{/block}-->
